<body style="margin: 0; padding: 0;">
  <style type="text/css">
    @font-face {
      font-family: "Myriad Pro";
      src: font-url("myriadpro/myriadpro.eot");
      src: font-url("myriadpro/myriadpro.eot?#iefix") format("embedded-opentype"),
      font-url("myriadpro/myriadpro.woff") format("woff"),
      font-url("myriadpro/myriadpro.ttf") format("truetype"),
      font-url("myriadpro/myriadpro.svgz") format("svg"),
      font-url("myriadpro/myriadpro.svg") format("svg");
    }

    @font-face {
      font-family: "Segoe UI Light";
      src: font-url("segoeui/segoeuil.eot");
      src: font-url("segoeui/segoeuil.eot?#iefix") format("embedded-opentype"),
      font-url("segoeui/segoeuil.woff") format("woff"),
      font-url("segoeui/segoeuil.ttf") format("truetype"),
      font-url("segoeui/segoeuil.svgz") format("svg"),
      font-url("segoeui/segoeuil.svg") format("svg");
    }
  </style>
  <div style="font-family: 'Segoe UI Light'; background-color: #111; color:#EEE; text-align: center;">
    <div style="padding: 20px;">
      <img style="width: 200px; height: auto;"
           src="<%= asset_path('logo_hybrid_transparent.png') %>">
    </div>
    <div class="content">
      <div class="title-wrapper">
        <div style="text-align: center; padding: 10px;">
          <img style="display: inline-block; vertical-align: middle; width: 60px; height: auto;" src="<%= asset_path('tick_filled.svg') %>">
          <span style="display: inline-block; vertical-align: middle; font-family: 'Myriad Pro'; font-size: 25px; color: #009900; font-weight: bolder;">Account successfully registered</span>
        </div>
        <div class="title-message"><p>Welcome to <strong>Foodmash</strong>.<br />We get you the best dishes from restaurants around you. </p><p>Enjoy mashing up handpicked dishes across multiple restaurants to create your <strong>own combos</strong> or choose from the <strong>pre-curated</strong> ones.</p></div>
        <div style="text-align: center; padding: 50px;">
          <img style="margin: auto; display: inline-block; width: 100%; height: auto; border-radius: 10px; max-width: 700px"
               src="https://foodmash-india.s3.amazonaws.com/images/combos/1461816134897/combo.jpg">
        </div>
      </div>
      <hr style="border-color: #666 ; width: 90%; margin-bottom: -10px">
      <div style="font-size: 12px; padding: 20px; color: #999;">
        The information contained in this communication is intended solely for the use of the individual or entity to whom it is addressed and others authorized to receive it.&nbsp; This communication may contain confidential or legally privileged information.&nbsp; If you are not the intended recipient, any disclosure, copying, distribution or action taken relying on the contents is prohibited and may be unlawful.&nbsp; If you have received this communication in error, or if you or your employer do not consent to email messages of this kind, please notify us immediately by responding to this email and then delete it from your system.&nbsp; No liability is accepted for any harm that may be caused to your systems or data by this message.&nbsp;
      </div>
    </div>
  </div>
</body>