<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail legalese">
                <h3>About</h3>
                <div class="caption">
                    <p>Imagine yourself feeling extremely hungry and wanting to order a meal for yourself or a group of friends comprising your favourite items from your favourite restaurants and have them delivered to your doorstep. What if you also manage to discover new restaurants that serve your taste in this process?</p>
                    <p>Select your favourite combos from the set of combos that we provide you consisting of carefully curated items from our restaurant partners and have them delivered at your doorstep within 30 minutes. Get ready for this exciting new ride!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail legalese">
                <h3>Contact Us</h3>
                <div class="caption">
                    <p>Feel free to give us your suggestions or feedback on any of our services, to share your experience with Foodmash, or to just say hello!</p>
                    <br>
                    <p><b>Email:</b> info@foodmash.in</p>
                    <p><b>Customer Care:</b> +91 8056 249612</p>
                </div>
            </div>
        </div>
    </div>
</div>