
<td></td>
<td colspan="8">
  <table class="table table-hover table-striped">
    <thead>
      <th>#</th>
      <th>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Name</label>
          <input class="form-control" type="text" ng-model="area.name">
          <span class="material-input"></span>
        </div>
      </th>
       <th>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Pincode</label>
          <input class="form-control" type="number" ng-model="area.pincode">
          <span class="material-input"></span>
        </div>
      </th>
      <th>
         <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedPackagingCentre = {};">
                <span ng-hide="selectedPackagingCentre.name">Packaging Centre</span>{{selectedPackagingCentre.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="delivery-location-dropdown">
              <li ng-repeat="packaging_centre in packaging_centres" ng-click="selectPackagingCentre(packaging_centre)">{{packaging_centre.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th class="th-xs"></th>
      <th class="th-xs" ng-click="addArea(city.id)"><i class="material-icons">add_circle_outline</i></th>
    </thead>
    <tbody>
      <tr area ng-repeat="area in areas"></tr>
    </tbody>
  </table>
</td>
<td></td>