<!-- Areas -->

        <div layout="row">
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
          <div layout="column" flex>
              <div layout-padding layout-margin>
                <md-content flex class="md-display-1">Areas</md-content>
                <md-divider class="bottom-margin bottom-padding"></md-divider>
              </div>
              
              <!-- add new -->
               <form flex layout="row" name="addAreaForm" ng-submit="addArea(addCross)" ng-init="addCross=false">
                <md-input-container flex>
                    <label>Area</label>
                    <input ng-model="area.name" type="text" />
                </md-input-container>
                <md-input-container flex>
                  <label>Packaging Centre</label>
                  <md-select ng-model="area.packaging_centre_id">
                    <md-option ng-repeat="packaging_centre in packaging_centres" value="{{packaging_centre.id}}">{{packaging_centre.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <div layout="row" layout-align="center center" layout-padding>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=false">
                    <md-icon md-svg-src="{{done_path}}"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=true">
                    <md-icon md-svg-src="{{cross_path}}"></md-icon>
                  </md-button>
                </div>
               </form>
              <!-- add new ends -->

              <!-- for loop for listing -->

              <!-- item  -->
              <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="!loadingAreas">
                 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              </div>
              <area ng-repeat="area in areas"> </area>
              <!-- item ends -->
              <!-- for loop ends -->
              
          </div>
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
        </div>
<!--  Areas ends-->