<div class="container" ng-init="load()">
  <div class="row">
    <div class="col-md-6 order-description" ng-class="{'col-md-offset-3': !currentUser}">
      <div class="order-contents">
        <table class="table table-striped table-hover table-cart">
          <thead>
          <tr>
            <th>#</th>
            <th>In Cart</th>
            <th style="min-width: 90px">Quantity</th>
            <th class="text-align-right">Price</th>
            <th style="width:35px"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-if="!cart.orders.length">
            <td colspan="5" class="td-empty">
              <img src="assets/empty_cart.png" />
            </td>
          </tr>
          <tr order-list ng-repeat="order in cart.orders"> </tr>
          </tbody>
          <tfoot>
          <tr>
            <td></td>
            <td>Total</td>
            <td colspan="2" class="text-align-right"><span class="rupee"></span>{{cart.total}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>VAT 2%</td>
            <td colspan="2" class="text-align-right"><span class="rupee"></span>{{cart.vat.toFixed(2)}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Aggregation + Delivery</td>
            <td colspan="2" class="text-align-right"><span class="rupee"></span>{{cart.delivery_charge}}</td>
            <td></td>
          </tr>
          <tr ng-show="checkIfPromoExists()">
            <td></td>
            <td>Promo Discount</td>
            <td colspan="2" class="text-align-right"><span class="rupee"></span>- {{promo.discount}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Grand Total</td>
            <td colspan="2" class="text-align-right"><span class="rupee">₹ </span>{{cart.grand_total}}</td>
            <td></td>
          </tr>
          </tfoot>
        </table>
        <div class="row promo-code-wrapper-row" ng-if="currentUser">
          <div class="form-group label-floating is-empty promo-code-wrapper">
            <label class="control-label">Promo Code</label>
            <input class="form-control" type="text" id="promo-code" ng-model="promo_code">
            <p class="help-block">Enter a valid Promo Code</p>
            <span class="material-input"></span>
          </div>
          <a class="btn btn-raised btn-success" ng-click="applyPromoCode(promo_code)" ng-disabled="!promo_code.length"> Apply </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 delivery-information" ng-if="currentUser">
      <div class="contact-information-warpper">
        <div class="user-email-wrapper">
          <i class="fa fa-envelope"></i>
          <span class="user-email">{{currentUser.email}}</span>
          <i class="fa fa-question-circle" data-title="Email Address" data-content="Invoice will be sent to the mentioned email address. To change email address, logout and login with the preferred email address" data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
        </div>
      </div>
      <table class="table table-striped table-hover table-addresses">
        <thead>
        <tr>
          <th style="width:35px"></th>
          <th>Choose Address</th>
          <th style="width:35px"></th>
          <th style="width:35px"></th>
        </tr>
        </thead>
        <tbody>

          <tr delivery-address ng-repeat="delivery_address in delivery_addresses"
              ng-class="{active : isDeliveryAddressSelected(delivery_address)}">
          </tr>

          <tr class="add-new-address-wrapper">
            <th></th>
            <th colspan="3">Deliver to a new address</th>
          </tr>
          <tr class="new-address-wrapper">
            <td><i class="fa fa-check-circle hidden"></i></td>
            <td>
              <div class="new-address" role="form" name="deliveryAddressAddForm">
                <input type="text" placeholder="Full Name" id="new-address-name" ng-model="delivery_address.name" />
                <input type="text" placeholder="Address Line 1" id="new-address-line-1" ng-model="delivery_address.line1" />
                <input type="text" placeholder="Address Line 2" id="new-address-line-2" ng-model="delivery_address.line2" />
                <input type="text" value="{{area.name}}, {{city.name}}" disabled />
                <input type="text" placeholder="Contact No" ng-model="delivery_address.contact_no" />
              </div>
            </td>
            <td colspan="2"><a class="btn btn-success margin-zero" ng-click="addDeliveryAddress()"><i class="fa fa-check-circle"></i> Save</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="proceed-to-pay-wrapper">
        <div class="row">
          <a class="btn btn-raised btn-info cod-button" ng-click="setCod(); proceedToPayment()"> Cash on Delivery </a>
          <!-- <a class="btn btn-raised btn-info" ng-click="setPayu(); proceedToPayment()">Online Payment</a> -->
        </div>
    </div>
  </div>

  <form style="display: none" id="payu-payment-form" action="https://test.payu.in/_payment/" method="post" ng-show="setup_details">
    <input hidden name="firstname" value="{{setup_details.firstname}}" />
    <input hidden name="email" value="{{setup_details.email}}" />
    <input hidden name="amount" value="{{setup_details.amount}}" />
    <input hidden name="surl" value="{{setup_details.surl}}" />
    <input hidden name="furl" value="{{setup_details.furl}}" />
    <input hidden name="key" value="{{setup_details.key}}" />
    <input hidden name="salt" value="{{setup_details.salt}}" />
    <input hidden name="phone" value="{{setup_details.phone}}" />
    <input hidden name="productinfo" value="{{setup_details.productinfo}}" />
    <input hidden name="txnid" value="{{setup_details.txnid}}" />
    <input hidden name="hash" value="{{setup_details.hash}}" />
    <input hidden type="submit" value="submit" />
  </form>
    

  </div>

</div>
