<!-- Shopping cart -->
    
  <div flex layout="column" layout-align="center center">

  <md-tabs flex md-border-bottom class="combo-layout" md-center-tabs>
        <md-tab label="COD">
            <md-content class="cod-tab-content">
                <div class="g-recaptcha" data-sitekey="6Le6rhETAAAAANOau--jccxZuWYejMwGgyTuKz4B"></div>
                <md-input-container>
                    <label for="login-password">Enter your password to continue</label>
                    <input id="login-password" name="login-password" ng-model="password" type="password" required>
                </md-input-container>
            </md-content>
            <div layout="row" layout-padding layout-align="center center">
              <h2 class="md-title" layout-padding layout-margin>Total Amount</h2>
              <h2 class="md-display-1 rupee" layout-padding layout-margin>{{cart.total}}</h2>
            </div>

            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" ng-click="payByCod()">Pay</md-button>
            </div>
        </md-tab>
        <md-tab label="Debit / Credit Card">
            <md-content class="card-tab-content">
                <div>
                    <md-input-container>
                        <label for="card-no">16 digit Card No.</label>
                        <input id="card-no" name="card-no" ng-model="card" type="text" required>
                    </md-input-container>
                    <md-icon class="card-payment-type" md-svg-icon="{{avatar_path}}" ng-show="validate(cardno)"></md-icon>
                </div>
                <md-input-container>
                    <label for="card-name">Name on Card</label>
                    <input id="card-name" name="card-name" ng-model="card.password" type="text" required>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex>
                        <label for="card-valid-till">Valid Till</label>
                        <input id="card-valid-till" name="card-valid-till" ng-model="card.password" type="text" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="card-cvv">CVV</label>
                        <input id="card-cvv" name="card-cvv" ng-model="card.password" type="password" required>
                    </md-input-container>
                    <md-switch class="md-primary" checked>Save Card</md-switch>
                </div>
            </md-content>
            <div layout="row" layout-padding layout-align="center center">
              <h2 class="md-title" layout-padding layout-margin>Total Amount</h2>
              <h2 class="md-display-1 rupee" layout-padding layout-margin>{{cart.total}}</h2>
            </div>

            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" ng-click="submitToPayu()">Pay</md-button>
            </div>
        </md-tab>
        <md-tab label="Netbanking">
            <md-content class="netbanking-tab-content">
                <div layout="row" class="netbanking-popular">
                  <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                    <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                    <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                </div>
                <div layout="row" class="netbanking-popular">
                    <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                    <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                    <div layout="column" flex><md-icon md-svg-icon="{{avatar_path}}"></md-icon><span>Bank</span></div>
                </div>
                <md-input-container>
                    <label>Choose your bank</label>
                    <md-select ng-model="ctrl.userState">
                        <md-option ng-repeat="bank in payment.netbanking" value="{{bank.name}}"> {{bank.name}}</md-option>
                    </md-select>
                </md-input-container>
            </md-content>
        </md-tab>
    </md-tabs>

</div>

<!-- Shopping cart ends -->