<div layout="row" flex>

  <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
    <div flex layout="column">
      <div flex layout-align="center center" layout="row" class="nav-btn-parent">
        <md-button class="nav-btn selected">
        <md-icon md-svg-src="assets/svg/offers.svg" class="avatar"></md-icon>
        Offers
        </md-button>
      </div>
      <div flex layout-align="center center" layout="row" class="nav-btn-parent">
        <md-button class="nav-btn">
        <md-icon md-svg-src="assets/svg/for_1.svg" class="avatar"></md-icon>
        Micro
        </md-button>
      </div>
      <div flex layout-align="center center" layout="row" class="nav-btn-parent">
        <md-button class="nav-btn">
        <md-icon md-svg-src="assets/svg/for_2.svg" class="avatar"></md-icon>
        Medium
        </md-button>
      </div>
      <div flex layout-align="center center" layout="row" class="nav-btn-parent">
        <md-button class="nav-btn">
        <md-icon md-svg-src="assets/svg/for_3.svg" class="avatar"></md-icon>
        Mega
        </md-button>
      </div>
    </div>
  </md-sidenav>

  <div layout="row" flex>
    <div flex>

      <!- - offer card - ->
      <md-card>
        <img ng-src="/app/assets/jpg/offer.jpg" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">5% off on Budget Combos</h2>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>  
      <!- - offer card ends - ->

      <!- - for loop - ->

        <!- - Combo 1 Card - ->
        <!- - Combo 1 Card ends- ->

        <!- - Combo 2 Card - ->
        <!- - Combo 2 Card ends- ->

      <!- - for loop ends - ->

    </div>
    <div flex>

      <!- - for loop - ->

        <!- - Combo 1 Card - ->
        <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_1_clicked">
          <div flex layout="column">

              <div layout="row" layout-align="space-between center" slide-toggle="#combo_1_details" ng-click="combo_1_clicked=!combo_1_clicked">
                <md-content flex>
                  <md-list>
                    <md-list-item class="md-3-line">
                      <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="combo"></md-icon>
                      <div class="md-list-item-text">
                          <h3>Combo</h3>
                          <p>Some two line description of what the combo is or what it comprises</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </md-content>
                <div layout-padding layout-margin class="rupee">150</div>
                <div layout-padding layout-margin ng-show="combo_1_clicked" class="cart">
                <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                      <md-icon md-svg-src="assets/svg/cart.svg"></md-icon>
                  </md-button>
                </div>
              </div>

              <div class="slideable" id="combo_1_details">
                <div layout="row">
                  <div layout="column" layout-padding flex offset="10">
                    <div layout="column">
                        <md-content>
                          <md-list>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </div>
                    </div>
                  <div flex="10"></div>
                </div>
              </div>

          </div>
        </div>
        <!- - Combo 1 Card ends- ->

        <!- - Combo 2 Card - ->
        <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_2_clicked">
          <div flex layout="column">

              <div layout="row" layout-align="space-between center" slide-toggle="#combo_2_details" ng-click="combo_2_clicked=!combo_2_clicked">
                <md-content flex>
                  <md-list>
                    <md-list-item class="md-3-line">
                      <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="combo"></md-icon>
                      <div class="md-list-item-text">
                          <h3>Combo</h3>
                          <p>Some two line description of what the combo is or what it comprises</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </md-content>
                <div layout-padding layout-margin class="rupee">175</div>
                <div layout-padding layout-margin ng-show="combo_2_clicked" class="cart">
                <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                      <md-icon md-svg-src="assets/svg/cart.svg"></md-icon>
                  </md-button>
                </div>
              </div>

              <div class="slideable" id="combo_2_details">
                <div layout="row">
                  <div layout="column" layout-padding flex offset="10">
                    <div layout="column">
                        <md-content>
                          <md-list>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </div>
                    </div>
                  <div flex="10"></div>
                </div>
              </div>

          </div>
        </div>
        <!- - Combo 2 Card ends- ->

        <!- - Combo 3 Card - ->
        <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_3_clicked">
          <div flex layout="column">

              <div layout="row" layout-align="space-between center" slide-toggle="#combo_3_details" ng-click="combo_3_clicked=!combo_3_clicked">
                <md-content flex>
                  <md-list>
                    <md-list-item class="md-3-line">
                      <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="combo"></md-icon>
                      <div class="md-list-item-text">
                          <h3>Combo</h3>
                          <p>Some two line description of what the combo is or what it comprises</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </md-content>
                <div layout-padding layout-margin class="rupee">200</div>
                <div layout-padding layout-margin ng-show="combo_3_clicked" class="cart">
                <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                      <md-icon md-svg-src="assets/svg/cart.svg"></md-icon>
                  </md-button>
                </div>
              </div>

              <div class="slideable" id="combo_3_details">
                <div layout="row">
                  <div layout="column" layout-padding flex offset="10">
                    <div layout="column">
                        <md-content>
                          <md-list>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </div>
                    </div>
                  <div flex="10"></div>
                </div>
              </div>

          </div>
        </div>
        <!- - Combo 3 Card ends- ->

        <!- - Combo 4 Card - ->
        <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_4_clicked">
          <div flex layout="column">

              <div layout="row" layout-align="space-between center" slide-toggle="#combo_4_details" ng-click="combo_4_clicked=!combo_4_clicked">
                <md-content flex>
                  <md-list>
                    <md-list-item class="md-3-line">
                      <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="combo"></md-icon>
                      <div class="md-list-item-text">
                          <h3>Combo</h3>
                          <p>Some two line description of what the combo is or what it comprises</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </md-content>
                <div layout-padding layout-margin class="rupee">220</div>
                <div layout-padding layout-margin ng-show="combo_4_clicked" class="cart">
                <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                      <md-icon md-svg-src="assets/svg/cart.svg"></md-icon>
                  </md-button>
                </div>
              </div>

              <div class="slideable" id="combo_4_details">
                <div layout="row">
                  <div layout="column" layout-padding flex offset="10">
                    <div layout="column">
                        <md-content>
                          <md-list>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                            <md-divider md-inset></md-divider>
                            <md-list-item class="md-2-line">
                              <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                              <div class="md-list-item-text">
                                <h3>Food</h3>
                                <p>Description</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                      </div>
                    </div>
                  <div flex="10"></div>
                </div>
              </div>

          </div>
        </div>
        <!- - Combo 4 Card ends- ->
      <!- - for loop ends - ->
    
    </div>
  </div>
  

</div>

<!- - Main page ends -->