<td></td>
<td colspan="7">
  <table class="table table-hover table-striped">
    <thead>
      <th class="th-xs">#</th>
      <th class="th-sm">
         <div class="form-group label-floating is-empty">
           <label class="control-label">Name</label>
           <input class="form-control" type="text" ng-model="combo_option.name">
           <span class="material-input"></span>
         </div>
       </th>
      <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishType = {};">
                <span ng-hide="selectedDishTypeForComboOption.name">Dish Type</span>{{selectedDishTypeForComboOption.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="delivery-location-dropdown">
              <li ng-repeat="dish_type in dish_types" ng-click="selectDishTypeForComboOption(dish_type)">{{dish_type.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th class="th-sm">
         <div class="form-group label-floating is-empty">
           <label class="control-label">Count</label>
           <input class="form-control" type="number" min="1" max="50" ng-model="combo_option.min_count">
           <span class="material-input"></span>
         </div>
       </th>
       <th class="th-sm">
         <div class="form-group label-floating is-empty">
           <label class="control-label">Priority</label>
           <input class="form-control" type="number" min="1" max="50" ng-model="combo_option.priority">
           <span class="material-input"></span>
         </div>
       </th>
      <th class="th-xs"></th>
      <th class="th-xs" ng-click="addComboOption(combo.id)"><i class="material-icons">add_circle_outline</i></th>
      <th class="th-xs"></th>
    </thead>
    <tbody>
      <tr combo-option ng-repeat-start="combo_option in combo_options" ng-init="comboOptionDishShow=false"></tr>
       <tr class="expanded" combo-option-dishes ng-show="comboOptionDishShow" ng-repeat-end></tr>
    </tbody>
  </table>
</td>
<td></td>