<td></td>
<td colspan="4">
  <table class="table table-hover table-striped">
    <thead>
      <th style="width: 40px">#</th>
      <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedRestaurantForComboOptionDishes = {};">
                <span ng-hide="selectedRestaurantForComboOptionDishes.name">Restaurant</span>{{selectedRestaurantForComboOptionDishes.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="restaurant in restaurants" ng-click="selectRestaurantForComboOptionDishes(restaurant)">{{restaurant.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
         <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishTypeForComboOptionDishes = {};">
                <span ng-hide="selectedDishTypeForComboOptionDishes.name">Dish Type</span>{{selectedDishTypeForComboOptionDishes.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="delivery-location-dropdown">
              <li ng-repeat="dish_type in dish_types" ng-click="selectDishTypeForComboOptionDishes(dish_type)">{{dish_type.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishForComboOptionDishes = {};">
                <span ng-hide="selectedDishForComboOptionDishes.name">Dish</span>{{selectedDishForComboOptionDishes.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" ng-hide="loadingDishesForComboOptionDishes">
              <li ng-repeat="dish in dishes" ng-click="selectDishForComboOptionDishes(dish)">{{dish.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th class="th-xs" ng-click="addComboOptionDish(combo_option.id)"><i class="material-icons">add_circle_outline</i></th>
      <th class="th-xs"></th>
    </thead>
    <tbody>
      <tr combo-option-dish ng-repeat="combo_option_dish in combo_option_dishes"></tr>
    </tbody>
  </table>
</td>
<td></td>