<td></td>
<td colspan="7">
  <table class="table table-hover table-striped">
    <thead>
      <th class="th-xs">#</th>
      <th>
         <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedRestaurant = {};">
                <span ng-hide="selectedRestaurant.name">Restaurant</span>{{selectedRestaurant.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="restaurant in restaurants" ng-click="selectRestaurant(restaurant)">{{restaurant.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishType = {};">
                <span ng-hide="selectedDishType.name">Dish Type</span>{{selectedDishType.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="dish_type in dish_types" ng-click="selectDishType(dish_type)">{{dish_type.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th>
        <div class="form-group label-floating is-empty">
          <span class="dropdown custom-dropdown">
            <a data-target="#" class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" ng-init="selectedDish = {};">
                <span ng-hide="selectedDish.name">Dish</span>{{selectedDish.name}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" ng-hide="loadingDishes">
              <li ng-repeat="dish in dishes" ng-click="selectDish(dish)">{{dish.name}}</li>
            </ul>
          </span>
          <span class="material-input"></span>
        </div>
      </th>
      <th class="th-sm">
          <div class="form-group label-floating is-empty">
              <label class="control-label">Count</label>
              <input class="form-control" type="number" min="1" max="50" ng-model="combo_dish.min_count">
              <span class="material-input"></span>
          </div>
      </th>
      <th class="th-xs"><i class="material-icons" ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="image/*" ngf-max-size="40MB">image</i></th>
      <th class="th-xs" ng-click="addComboDish(combo.id)"><i class="material-icons">add_circle_outline</i></th>
      <th class="th-xs"></th>
    </thead>
    <tbody>
      <tr combo-dish ng-repeat="combo_dish in combo_dishes"></tr>
    </tbody>
  </table>
</td>
<td></td>