
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail combo-card">
      <div class="img-wrapper" ng-click="routeToComboDescription(combo)">
          <img src="{{combo.picture}}" />
          <div class="combo-price">
              <span class="rupee">₹</span>
              <span>{{combo.price}}</span>
          </div>
      </div>
      <div class="caption">
        <h4>{{combo.name}} <span style="font-family: 'monotype corsiva'; font-size: '50%'">[serves {{combo.group_size}}]</span></h4>
        
        <p>
          <span class="quantity-counter" ng-show="combo.quantity">
            <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="removeCombo(combo)"><i class="material-icons">remove</i> </a>
            <span class="quantity">{{combo.quantity}}</span>
            <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="addCombo(combo)"><i class="material-icons">add</i> </a>
          </span>
          <a ng-hide="combo.quantity" ng-click="addCombo(combo)" class="btn btn-success" role="button" data-toggle=snackbar data-content="Added to cart" data-timeout="3000"><i class="fa fa-shopping-cart"></i>Buy</a>
          <a ng-click="routeToComboDescription(combo)" class="btn btn-primary" role="button" style="float:right; margin-right: 10px"><i class="fa fa-eye"></i>View</a> 
        </p>
      </div>
    </div>
  </div>