

<td ng-hide="updateShow" ng-init="updateShow=false">{{$index + 1}}</td>
<td ng-hide="updateShow">{{combo_dish.dish.restaurant.name}}</td>
<td ng-hide="updateShow">{{combo_dish.dish.dish_type.name}}</td>
<td ng-hide="updateShow">{{combo_dish.dish.name}}</td>
<td ng-hide="updateShow">{{combo_dish.min_count}}</td>
<td ng-hide="updateShow">{{combo_dish.priority}}</td>
<td ng-hide="updateShow" ng-click="updateShow=!updateShow; setUpdate(combo_dish)"><i class="icon-edit"></i></td>
<td ng-hide="updateShow" ng-click="deleteComboDish(combo_dish)"><i class="icon-trash"></i></td>

 <td ng-show="updateShow">{{$index + 1}}</td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-init="selectedRestaurantForUpdate = {};">{{selectedRestaurantForUpdate.name || updatedComboDish.dish.restaurant.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu">
         <li ng-repeat="restaurant in restaurants" ng-click="selectRestaurantForUpdate(restaurant)">{{restaurant.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishTypeForUpdate = {};">{{selectedDishTypeForUpdate.name || updatedComboDish.dish.dish_type.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu">
         <li ng-repeat="dish_type in dish_types" ng-click="selectDishTypeForUpdate(dish_type)">{{dish_type.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-init="selectedDishForUpdate = {};">{{selectedDishForUpdate.name || updatedComboDish.dish.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu" ng-hide="loadingDishesForUpdate">
         <li ng-repeat="dish in dishes_for_update" ng-click="selectDishForUpdate(dish)">{{dish.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td style="width:40px" ng-show="updateShow">
    <input class="form-control" type="number" min="1" max="50" ng-model="updatedComboDish.min_count">
 </td>
 <td style="width:40px" ng-show="updateShow">
    <input class="form-control" type="number" min="1" max="50" ng-model="updatedComboDish.priority">
 </td>
 <td ng-show="updateShow" ng-click="updateShow = !updateShow"><i class="fa fa-times-circle"></i></td>
 <td ng-show="updateShow" ng-click="updateComboDish(combo_dish)"><i class="fa fa-check-circle"></i></td>