 <td ng-hide="updateShowForCombo">{{$index + 1}}</td>
 <td ng-hide="updateShowForCombo" ng-click="updateActiveState(combo)"><i class="{{getIconForActive(combo)}}"></i></td>
 <td ng-hide="updateShowForCombo" ng-click="comboDishShow=!comboDishShow; comboOptionShow=!comboOptionShow">{{combo.name}}</td>
 <td ng-hide="updateShowForCombo">{{combo.group_size}}</td>
 <td ng-hide="updateShowForCombo"><i class="{{getIconForCategory(combo)}}"></i></td>
 <td ng-hide="updateShowForCombo">{{combo.packaging_centre.name}}</td>
 <td ng-hide="updateShowForCombo"><span class="checkbox-material"><input type="checkbox" value="{{combo.customizable}}" disabled="disabled"></td>
 <td ng-hide="updateShowForCombo">{{combo.price}}</td>
 <td ng-hide="updateShowForCombo"  ng-click="updateShowForCombo = !updateShowForCombo; setUpdate(combo)" ng-init="updateShowForCombo=false"><i class="icon-edit"></i></td>
 <td ng-hide="updateShowForCombo" ng-click="deleteCombo(combo)"><i class="icon-trash"></i></td>

  <span class="progress" ng-show="file.progress > 0 && file.progress != 100">{{file.progress + '%'}}</span>
  <td ng-show="updateShowForCombo">{{$index + 1}}</td>
  <td ng-show="updateShowForCombo" ng-click="toggleActiveOptionForUpdate()">
    <i class="{{getIconForActive(updatedCombo)}}"></i>
  </td>
  <td ng-show="updateShowForCombo">
      <input class="form-control" type="text" ng-model="updatedCombo.name">
  </td>
 <td ng-show="updateShowForCombo">
      <input class="form-control" type="number" min="1" max="50" ng-model="updatedCombo.group_size">
  </td>
  <td ng-show="updateShowForCombo" ng-click="toggleCategoryOptionForUpdate()">
    <i class="{{getIconForCategory(updatedCombo)}}"></i>
  </td>
  <td ng-show="updateShowForCombo">
    <div class="form-group label-floating is-empty">
      <span class="dropdown location-dropdown">
      <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedPackagingCentreForUpdate.name || updatedCombo.packaging_centre.name}}
        <b class="caret"></b></a>
        <ul class="dropdown-menu" id="delivery-location-dropdown">
          <li ng-repeat="packaging_centre in packaging_centres" ng-click="selectPackagingCentreForUpdate(packaging_centre)">{{packaging_centre.name}}</li>
        </ul>
      </span>
    </div>
  </td>
  <td ng-show="updateShowForCombo"><span  class="checkbox-material"><input type="checkbox" ng-model="updatedCombo.customizable"></span>
  </td>
  <td ng-show="updateShowForCombo"><i class="material-icons" ngf-select="uploadFilesForCombo($file, $invalidFiles, combo)"
                              accept="image/*" ngf-max-size="40MB">image</i></td>
  <td ng-show="updateShowForCombo" ng-click="updateShowForCombo = !updateShowForCombo"><i class="fa fa-times-circle"></i></td>
  <td ng-show="updateShowForCombo" ng-click="updateCombo(combo)"><i class="fa fa-check-circle"></i></td>