

 <td ng-hide="updateShow">{{$index + 1}}</td>
 <td ng-hide="updateShow" ng-click="updateActiveState(combo)"><i class="{{getIconForActive(combo)}}"></i></td>
 <td ng-hide="updateShow">{{combo.name}}</td>
 <td ng-hide="updateShow">{{combo.group_size}}</td>
 <td ng-hide="updateShow"><i class="{{getIconForCategory(combo)}}"></i></td>
 <td ng-hide="updateShow">{{combo.packaging_centre.name}}</td>
 <td ng-hide="updateShow"><i class="material-icons">{{combo.picture}}</i></td>
 <td ng-hide="updateShow"  ng-click="updateShow = !updateShow; setUpdate(combo)" ng-init="updateShow=false"><i class="icon-edit"></i></td>
 <td ng-hide="updateShow" ng-click="deleteCombo(combo)"><i class="icon-trash  "></i></td>

  <td ng-show="updateShow">{{$index + 1}}</td>
  <td ng-show="updateShow" ng-click="toggleActiveOptionForUpdate()">
    <i class="{{getIconForActive(updatedCombo)}}"></i>
  </td>
  <td ng-show="updateShow">
      <input class="form-control" id="focusedInput1" type="text" ng-model="updatedCombo.name">
  </td>
 <td ng-show="updateShow">
      <input class="form-control" id="focusedInput1" type="number" min="1" max="50" ng-model="updatedCombo.group_size">
  </td>
  <td ng-show="updateShow" ng-click="toggleCategoryOptionForUpdate()">
    <i class="{{getIconForCategory(updatedCombo)}}"></i>
  </td>
  <td ng-show="updateShow">
    <div class="form-group label-floating is-empty">
      <!-- <label class="control-label" for="focusedInput1">Centre</label> -->
      <span class="dropdown location-dropdown">
      <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{updatedCombo.packaging_centre.name}}
        <b class="caret"></b></a>
        <ul class="dropdown-menu" id="delivery-location-dropdown">
          <li ng-repeat="packaging_centre in packaging_centres" ng-click="updatedCombo.packaging_centre_id = packaging_centre.id; selectedPackagingCentre = packaging_centre"><a>{{packaging_centre.name}}</a></li>
        </ul>
      </span>
      <span class="material-input"></span>
    </div>
  </td>
  <td ng-show="updateShow" ng-click="updateShow = !updateShow"><i class="icon-edit"></i></td>
  <td ng-show="updateShow" ng-click="updateCombo(combo)"><i class="fa fa-check-circle">Save</i></td>

