
  <div class="col-md-12">

      <table class="table table-striped table-hover table-panel">
        <thead>
        <tr>
          <th style="width:40px">#</th>
          <th style="width:40px" ng-click="toggleActiveOption()"><i class="{{getIconForActive(combo)}}"></i></th>
          <th>
            <div class="form-group label-floating is-empty">
              <label class="control-label" for="focusedInput1">Name</label>
              <input class="form-control" id="focusedInput1" type="text" ng-model="combo.name">
              <span class="material-input"></span>
            </div>
          </th>
         <th>
            <div class="form-group label-floating is-empty">
              <label class="control-label" for="focusedInput1">Size</label>
              <input class="form-control" id="focusedInput1" type="number" min="1" max="50" ng-model="combo.group_size">
              <span class="material-input"></span>
            </div>
          </th>
          <th style="width:40px" ng-click="toggleCategoryOption()"><i class="{{getIconForCategory(combo)}}"></i></th>
          <th>
            <div class="form-group label-floating is-empty">
              <span class="dropdown location-dropdown">
              <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-init="selectedPackagingCentre = {};">{{selectedPackagingCentre.name}}
                <b class="caret"></b></a>
                <ul class="dropdown-menu" id="delivery-location-dropdown">
                  <li ng-repeat="packaging_centre in packaging_centres" ng-click="combo.packaging_centre_id = packaging_centre.id; selectedPackagingCentre = packaging_centre"><a>{{packaging_centre.name}}</a></li>
                </ul>
              </span>
              <span class="material-input"></span>
            </div>
          </th>
          <th style="width:40px"></th>
          <th style="width:40px"></th>
          <th style="width:40px" ng-click="addCombo()"><i class="material-icons">add_circle_outline</i></th>
        </tr>
        </thead>
        <tbody>

          <tr combo ng-repeat="combo in combos"> </tr>

        </tbody>
      </table>

    </div>
