<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="thumbnail legalese">
                <h3>Contact Us</h3>
                <div class="caption">
                    <p>Feel free to give us your suggestions or feedback on any of our services, to share your experience with Foodmash, or to just say hello!</p>
                    <br>
                    <p><b>Email:</b> info@foodmash.in</p>
                    <p><b>Customer Care:</b> +91 8056 249612</p>
                </div>
            </div>
        </div>
    </div>
</div>