  <div>
  <div layout="row" layout-padding layout-align="center center" ng-hide="updateShow">
    <md-content flex>{{cuisine.name}}</md-content>
    <div layout="row" layout-align="center center">
      <md-button class="md-icon-button" ng-click="updateShow = !updateShow; setUpdate(cuisine)">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/edit.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="deleteCuisine(cuisine)">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/bin.svg"></md-icon>
      </md-button>
    </div>
  </div>

  <form layout="row" name="updateCuisineForm" ng-submit="updateCuisine(cuisine, updateCross)" ng-init="updateShow=false; updateCross=false" ng-show="updateShow">
   <md-input-container flex>
       <label>Cuisine</label>
       <input ng-model="updatedCuisine.name" type="text" />
   </md-input-container>
   <div layout="row" layout-align="center center" layout-padding>
     <md-button class="md-icon-button" layout-padding ng-click="updateShow = !updateShow; updateCross=false">
       <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/done.svg"></md-icon>
     </md-button>
     <md-button class="md-icon-button" layout-padding ng-click="updateShow = !updateShow; updateCross = true">
       <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/cross.svg"></md-icon>
     </md-button>
   </div>
  </form>

</div>