<!-- Cuisines -->

        <div layout="row">
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
          <div layout="column" flex>
              <div layout-padding layout-margin>
                <md-content flex class="md-display-1">Cuisines</md-content>
                <md-divider class="bottom-margin bottom-padding"></md-divider>
              </div>
              
              <!-- add new -->
               <form flex layout="row" name="addCuisineForm" ng-submit="addCuisine(addCross)" ng-init="addCross=false">
                <md-input-container flex>
                    <label>Cuisine</label>
                    <input ng-model="cuisine.name" type="text" />
                </md-input-container>
                <div layout="row" layout-align="center center" layout-padding>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=false">
                    <md-icon md-svg-src="{{done_path}}"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=true">
                    <md-icon md-svg-src="{{cross_path}}"></md-icon>
                  </md-button>
                </div>
               </form>
              <!-- add new ends -->

              <!-- for loop for listing -->

              <!-- item  -->
              <cuisine ng-repeat="cuisine in cuisines"></cuisine>
              <!-- item ends -->
              <!-- for loop ends -->
              
          </div>
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
        </div>
  <!--  Cuisines ends-->