<div layout="row">
     <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
     <div layout="column" flex layout-padding layout-margin>
         <md-content flex class="md-display-1">Orders</md-content>
         <md-divider class="bottom-margin bottom-padding"></md-divider>

  	<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="!loadingPurchasedCarts">
    	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
  	</div>
  	<div layout="row" layout-padding layout-align="center center" ng-repeat="order in carts">
  	    <md-content flex>{{order.order_id}}</md-content>
  	    <md-content flex>{{order.aasm_state}}</md-content>
  	    <md-content flex>{{order.payment_method}}</md-content>
  	    <md-content flex>{{order.total}}</md-content>
  	 </div>

</div>
<div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
</div>
