 
  <table class="table table-striped table-hover table-addresses">
    <thead>
    <tr>
      <th style="width:35px"></th>
      <th>Choose Address</th>
      <th style="width:35px"></th>
      <th style="width:35px"></th>
    </tr>
    </thead>
    <tbody>

      <tr delivery-address ng-repeat="delivery_address in delivery_addresses"
          ng-class="{active : isDeliveryAddressSelected(delivery_address)}">
      </tr>

      <tr class="add-new-address-wrapper">
        <th></th>
        <th colspan="3">Deliver to a new address</th>
      </tr>
      <tr class="new-address-wrapper">
        <td><i class="fa fa-check-circle hidden"></i></td>
        <td>
          <div class="new-address" role="form" name="deliveryAddressAddForm">
            <input type="text" placeholder="Full Name" id="new-address-name" ng-model="delivery_address.name" />
            <input type="text" placeholder="Address Line 1" id="new-address-line-1" ng-model="delivery_address.line1" />
            <input type="text" placeholder="Address Line 2" id="new-address-line-2" ng-model="delivery_address.line2" />
            <input type="text" value="{{area.name}}, {{city.name}}" disabled />
            <input type="text" value="{{area.pincode}}" disabled />
            <input type="text" placeholder="Contact No" ng-model="delivery_address.contact_no" />
          </div>
        </td>
        <td colspan="2" ng-click="addDeliveryAddress()"><i class="fa fa-check-circle"></i> Save</td>
      </tr>
    </tbody>
  </table>