<div>
  <div layout="row" layout-padding layout-align="center center" ng-hide="dishUpdateShow">
    <md-content flex>{{dish.name}}</md-content>
    <md-content flex>{{dish.price}}</md-content>
    <md-content flex>{{dish.description}}</md-content>
    <md-content flex>{{dish.dish_type.name}}</md-content>
     <md-content flex>{{dish.cuisine.name}}</md-content>
     <md-content flex>{{dish.label}}</md-content>

    <div layout="row" layout-align="center center">
      <md-button class="md-icon-button" ng-click="setUpdate(dish); dishUpdateShow=!dishUpdateShow">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/edit.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="deleteDish(dish)">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/bin.svg"></md-icon>
      </md-button>
    </div>
  </div>

  <form role="form" name="dishUpdateForm" ng-submit="updateDish(dish, dishUpdateCross)" ng-init="dishUpdateShow=false; dishUpdateCross = false" ng-show="dishUpdateShow">
    <div layout="row" layout-padding layout-align="center center">
      <md-button class="md-icon-button">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/avatar-1.svg"></md-icon>
      </md-button>
      <md-input-container flex>
        <label>Name</label>
        <input type="text" ng-model="updatedDish.name" />
      </md-input-container>
      <md-input-container flex>
        <label>Price</label>
        <input ng-model="updatedDish.price" />
      </md-input-container>
       <md-input-container flex>
        <label>Description</label>
        <input type="text" ng-model="updatedDish.description" />
      </md-input-container>
      <md-input-container flex>
        <label>Type</label>
        <md-select ng-model="updatedDish.dish_type_id">
          <md-option ng-repeat="dish_type in dish_types" value="{{dish_type.id}}">{{dish_type.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Cuisine</label>
        <md-select ng-model="updatedDish.cuisine_id">
          <md-option ng-repeat="cuisine in cuisines" value="{{cuisine.id}}">{{cuisine.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Label</label>
        <md-select ng-model="updatedDish.label">
          <md-option value="veg">Veg</md-option>
          <md-option value="non-veg">Non Veg</md-option>
          <md-option value="egg">Egg</md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-icon-button" ng-click="dishUpdateShow = !dishUpdateShow; dishUpdateCross = false">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/done.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="dishUpdateShow = !dishUpdateShow; dishUpdateCross = true">
        <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/cross.svg"></md-icon>
      </md-button>
    </div>
  </form>


</div>
