<!-- Dish Types -->

        <div layout="row">
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
          <div layout="column" flex>
              <div layout-padding layout-margin>
                <md-content flex class="md-display-1">Dish Types</md-content>
                <md-divider class="bottom-margin bottom-padding"></md-divider>
              </div>
              
              <!-- add new -->
               <form flex layout="row" name="addDishTypeForm" ng-submit="addDishType(addCross)" ng-init="addCross=false">
                <md-input-container flex>
                    <label>Dish Type</label>
                    <input ng-model="dish_type.name" type="text" />
                </md-input-container>
                <div layout="row" layout-align="center center" layout-padding>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=false">
                    <md-icon md-svg-src="{{done_path}}"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" layout-padding ng-click="addCross=true">
                    <md-icon md-svg-src="{{cross_path}}"></md-icon>
                  </md-button>
                </div>
               </form>
              <!-- add new ends -->

              <!-- for loop for listing -->

              <!-- item  -->
              <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="!loadingDishTypes">
                 <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              </div>
              <dish-type ng-repeat="dish_type in dish_types"> </dish-type>
              <!-- item ends -->
              <!-- for loop ends -->
              
          </div>
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
        </div>
        <!--  Dish Types ends-->