

<td ng-hide="updateShow" ng-init="updateShow=false">{{$index + 1}}</td>
<td ng-hide="updateShow">{{dish.name}}</td>
<td ng-hide="updateShow">{{dish.dish_type.name}}</td>
<td ng-hide="updateShow">{{dish.cuisine.name}}</td>
<td ng-hide="updateShow">{{dish.label}}</td>
<td ng-hide="updateShow">{{dish.price}}</td>
<td ng-hide="updateShow"><i class="material-icons">image</i></td>
<td ng-hide="updateShow" ng-click="updateShow=!updateShow; setUpdate(dish)"><i class="fa fa-pencil-square-o"></i></td>
<td ng-hide="updateShow" ng-click="deleteDish(dish)"><i class="icon-trash"></i></td>

 <span class="progress" ng-show="file.progress > 0 && file.progress != 100">{{file.progress + '%'}}</span>
 <td ng-show="updateShow">{{$index + 1}}</td>
 <td ng-show="updateShow">
     <input class="form-control" type="text" ng-model="updatedDish.name">
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedDishTypeForUpdate.name || updatedDish.dish_type.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu" id="delivery-location-dropdown">
         <li ng-repeat="dish_type in dish_types" ng-click="selectDishTypeForUpdate(dish_type)">{{dish_type.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedCuisineForUpdate.name || updatedDish.cuisine.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu" id="delivery-location-dropdown">
         <li ng-repeat="cuisine in cuisines" ng-click="selectCuisineForUpdate(cuisine)">{{cuisine.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedLabelForUpdate.name || updatedDish.label}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu" id="delivery-location-dropdown">
         <li ng-repeat="label in labels" ng-click="selectLabelForUpdate(label)">{{label.name}}</li>
       </ul>
     </span>
   </div>
 </td>
 <td ng-show="updateShow">
      <input class="form-control" type="number" ng-model="updatedDish.price">
  </td>
 <td ng-show="updateShow"><i class="material-icons" ngf-select="uploadFilesForDish($file, $invalidFiles, dish)"
                             accept="image/*" ngf-max-size="40MB">image</i></td>
 <td ng-show="updateShow" ng-click="updateShow = !updateShow"><i class="fa fa-times-circle"></i></td>
 <td ng-show="updateShow" ng-click="updateDish(dish)"><i class="fa fa-check-circle"></i></td>