 <div class="sidebar-wrapper sidebar-open">
  <div class="sidebar">
    <section class="sidebar-section location-section">
      <i class="fa fa-map-marker"></i>
      <ul>
       <li class="dropdown location-dropdown">
         <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{area.name}}</a>
         <ul class="dropdown-menu">
           <li ng-click="changeArea(area)" ng-repeat="area in city.areas"><a>{{area.name}}</a></li>
         </ul>
       </li>
     </ul>
    </section>
    <section class="sidebar-section">
      <h5>Type</h5>
      <ul class="sidebar-nav group-size">
        <li ng-repeat="option in mainOptions" ng-class="{active: checkIfOptionSelected(option)}" ng-click="addOrRemoveFilters(option)">
         <a>
           <span>{{option.name}}</span>
           <i class="{{option.icon_class}}"></i>
           <div class="ripple-container"></div>
         </a>
        </li>
      </ul>
    </section>
    <section class="sidebar-section">
      <h5>Size</h5>
      <ul class="sidebar-nav group-size">
        <li ng-repeat="option in sizeOptions" ng-class="{active: checkIfOptionSelected(option)}" ng-click="addOrRemoveFilters(option)">
          <a>
            <span>{{option.name}}</span>
            <i class="{{option.icon_class}}" style="{{option.style}}"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="sidebar-section">
      <h5>Preference</h5>
      <ul class="sidebar-nav type">
        <li ng-repeat="option in preferenceOptions" ng-class="{active: checkIfOptionSelected(option)}" 
        ng-click="addOrRemoveFilters(option)">
          <a>
            <span>{{option.name}}</span>
            <i class="{{option.icon_class}}"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="sidebar-section">
      <h5>Price</h5>
      <ul class="sidebar-nav price">
        <li ng-repeat="option in sortOptions" ng-click="selectSortOption(option)" ng-class="{'active': checkIfSortOptionSelected(option)}">
          <a>
            <span>{{option.name}}</span>
            <i class="{{option.icon_class}}"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>


<div class="container">
  <div class="row" style="margin-bottom:15px">
    <p style="font-size: 15px;color: #fff;text-align: center;background: #999;padding: 10px;border-radius: 10px;">We run from 12 - 3 p.m. and 7 - 10 p.m. Use promo code FM15 for 15% off!</p>
  </div>
  <div class="row" ng-show="combos.length">
      <combo-card ng-repeat="combo in combos | filter:search" ng-init="load()"></combo-card>
  </div>
</div>
