<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')">

  <md-checkbox>Veg</md-checkbox>
  <md-checkbox>Egg</md-checkbox>
  <md-checkbox>Non-veg</md-checkbox>
  <br />
  <span style="padding: 10px;">Sort By</span>
	  <md-radio-group ng-model="data.group1">
	    <md-radio-button value="Price Ascending"  class="md-primary">Price Ascending</md-radio-button>
	    <md-radio-button value="Price Descending" class="md-primary">Price descending</md-radio-button>
	    <md-radio-button value="Popularity"  class="md-primary">Popularity</md-radio-button>
	  </md-radio-group>
  </md-sidenav>
  <div class="main-pane" layout="column" flex layout-fill ng-cloak>
    <md-tabs flex md-border-bottom class="combo-layout">
      <md-tab ng-repeat="option in sideNavOptions" label="{{option.name}}" ng-click="selectOption(option)">
        <combo-card ng-repeat="combo in combos"></combo-card>
      </md-tab>
  </div>
</div>