
  <td>{{$index + 1}}</td>
  <td>
    <div class="combo">
      <span class="combo-name">{{order.product.name}}</span>
      <div ng-repeat="order_item in order.order_items">
        <span>{{order_item.quantity}} x {{order_item.item.name}}</span>
      </div>
      <span ng-show="order.note" class="attached-note" data-title="Attached Note" data-content="{{order.note}}" data-toggle="popover" data-trigger="hover" data-placement="bottom"><i class="fa fa-paperclip"></i> Note Attached</span>
      <a class="btn btn-primary" ng-init="showNote=false" ng-click="showNote=!showNote"><i class="fa fa-edit"></i>Note</a>
      <div class="add-note-wrapper" ng-show="showNote">
        <div class="form-group label-floating is-empty add-note">
          <label class="control-label">Note</label>
          <input class="form-control" type="text" ng-model="order.note">
          <p class="help-block">Add your preferences</p>
          <span class="material-input"></span>
        </div>
      </div>
    </div>
  </td>
  <td>
    <span class="quantity-counter">
      <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="removeOrder(order)"><i class="material-icons">remove</i></i> </a>
      <span class="quantity"> {{order.quantity}} </span>
      <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="addOrder(order)"><i class="material-icons">add</i></i> </a>
    </span>
  </td>
  <td class="text-align-right"><span class="rupee"></span>{{order.total}}</td>
  <td><i class="icon-trash" ng-click="deleteOrder(order)"></i></td>