
  <td>{{$index + 1}}</td>
  <td>
    <div class="combo">
      <span class="combo-name">{{order.product.name}}</span>
      <div ng-repeat="order_item in order.order_items">
        <span>{{order_item.quantity}} x {{order_item.item.name}}</span>
        <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="removeOrderItem(order_item)"><i class="material-icons">remove</i></i> </a>
        <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="addOrderItem(order_item)"><i class="material-icons">add</i> </a>
      </div>
    </div>
  </td>
  <td>
    <span class="quantity-counter">
      <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="removeOrder(order)"><i class="material-icons">remove</i></i> </a>
      <span class="quantity"> {{order.quantity}} </span>
      <a class="btn btn-border btn-fab btn-fab-nano" role="button" ng-click="addOrder(order)"><i class="material-icons">add</i></i> </a>
    </span>
  </td>
  <td><span class="rupee"></span>{{order.total}}</td>
  <td><i class="icon-trash" ng-click="deleteOrder(order)"></i></td>
