  <div class="container">
    <div class="row">

      <div class="col-md-6 order-description">
        <h3>{{cart.order_id}}</h3>
        <div class="order-status-wrapper">Order status: <span class="order-status">Order Placed</span></div>
        <div class="order-status-meter-wrapper">
          <div class="progress progress-striped active order-status-meter">
            <div class="progress-bar" style="width: 45%"></div>
          </div>
          <i class="fa fa-clock-o completed"></i>
          <i class="fa fa-phone completed"></i>
          <i class="fa fa-dropbox"></i>
          <i class="fa fa-truck"></i>
        </div>
        <div class="order-status-update-wrapper">Update as <span class="btn btn-info btn-raised order-status-update">Being Packed</span></div>
        <div class="order-time-elapsed-wrapper">Time elapsed: <span class="order-time-elapsed">05:21</span></div>
        <div class="order-header">
          <span class="order-date">Jan 04, 2016 <span class="order-time">06:14pm</span></span>
          <span class="order-amount-wrapper">
            <span class="order-amount">5999</span>
            <i class="fa fa-question-circle" title="Payment Method" data-placement="bottom" data-content="Credit Card ending with x574" data-toggle="popover" data-trigger="hover"></i>
          </span>
        </div>
        <div class="order-contents">
          <table class="table table-striped table-order-description">
            <thead>
              <tr>
                <th>#</th>
                <th>Order Contents</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <div class="combo">
                    <span class="combo-name">Spicy Lover</span>
                    <span>1x Schezwan Chicken Noodles</span>
                    <span>1x Masala French Fries</span>
                    <span>1x Corn Balls</span>
                  </div>
                </td>
                <td>x4</td>
                <td><span class="rupee"></span>799</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <div class="combo">
                    <span class="combo-name">Garlic Grind</span>
                    <span>1x Schezwan Chicken Noodles</span>
                    <span>1x Masala French Fries</span>
                    <span>1x Corn Balls</span>
                  </div>
                </td>
                <td>x4</td>
                <td><span class="rupee"></span>1799</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <div class="combo">
                    <span class="combo-name">Schezwan Surprise</span>
                    <span>1x Schezwan Chicken Noodles</span>
                    <span>1x Masala French Fries</span>
                    <span>1x Corn Balls</span>
                  </div>
                </td>
                <td>x5</td>
                <td><span class="rupee"></span>3299</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td><span class="rupee"></span>5697</td>
              </tr>
              <tr>
                <td></td>
                <td>Tax</td>
                <td>14.5%</td>
                <td><span class="rupee"></span>252</td>
              </tr>
              <tr>
                <td></td>
                <td>Delivery</td>
                <td></td>
                <td><span class="rupee"></span>40</td>
              </tr>
              <tr>
                <td></td>
                <td>Grand Total</td>
                <td></td>
                <td><span class="rupee"></span>5999</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-md-6 order-description">
        <h3 class="customer-name">Johnny Flex </h3>
        <div class="customer-contact-wrapper">Contact: <span class="customer-contact">+91 88888 77777</span></div>
        <div class="customer-email-wrapper">Email: <span class="customer-email">johnnyflex@gmail.com</span></div>

        <div class="restaurant-based-order-description">
          <div class="restaurant-order-header">
            <span class="restaurant-name">Gokulam <span class="restaurant-branch">Kottur</span></span>
            <span class="restaurant-contact-wrapper">
              <span class="restaurant-contact">+91 424 44044404</span>
              <i class="fa fa-question-circle" title="Contact Details" data-placement="bottom" data-content="Address and other contact here" data-toggle="popover" data-trigger="hover"></i>
            </span>
          </div>
          <div class="order-contents">
            <table class="table table-striped table-order-description">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order Contents</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Schezwan Chicken Noodles</td>
                  <td>x2</td>
                  <td><span class="rupee"></span>199</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Garlic Chicken</td>
                  <td>x4</td>
                  <td><span class="rupee"></span>399</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Gobi Manchurian</td>
                  <td>x5</td>
                  <td><span class="rupee"></span>599</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td><span class="rupee"></span>997</td>
                </tr>
                <tr class="additional-notes-wrapper">
                  <td colspan="4">
                    <span><i class="fa fa-edit"></i></span>
                    <span class="additional-notes">Make noodles more spicy</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="restaurant-based-order-description">
          <div class="restaurant-order-header">
            <span class="restaurant-name">Eatalica <span class="restaurant-branch">RA Puram</span></span>
            <span class="restaurant-contact-wrapper">
              <span class="restaurant-contact">+91 424 44044404</span>
              <i class="fa fa-question-circle" title="Contact Details" data-placement="bottom" data-content="Address and other contact here" data-toggle="popover" data-trigger="hover"></i>
            </span>
          </div>
          <div class="order-contents">
            <table class="table table-striped table-order-description">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order Contents</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Schezwan Chicken Noodles</td>
                  <td>x2</td>
                  <td><span class="rupee"></span>199</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Garlic Chicken</td>
                  <td>x4</td>
                  <td><span class="rupee"></span>399</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Gobi Manchurian</td>
                  <td>x5</td>
                  <td><span class="rupee"></span>599</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td><span class="rupee"></span>997</td>
                </tr>
                <tr class="additional-notes-wrapper">
                  <td colspan="4">
                    <span><i class="fa fa-edit"></i></span>
                    <span class="additional-notes">Make noodles more spicy</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="restaurant-based-order-description">
          <div class="restaurant-order-header">
            <span class="restaurant-name">Subway <span class="restaurant-branch">Nandanam</span></span>
            <span class="restaurant-contact-wrapper">
              <span class="restaurant-contact">+91 424 44044404</span>
              <i class="fa fa-question-circle" title="Contact Details" data-placement="bottom" data-content="Address and other contact here" data-toggle="popover" data-trigger="hover"></i>
            </span>
          </div>
          <div class="order-contents">
            <table class="table table-striped table-order-description">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order Contents</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Sub of the day</td>
                  <td>x2</td>
                  <td><span class="rupee"></span>399</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td><span class="rupee"></span>997</td>
                </tr>
                <tr class="additional-notes-wrapper">
                  <td colspan="4">
                    <span><i class="fa fa-edit"></i></span>
                    <span class="additional-notes">Make noodles more spicy</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>