
 <div class="col-md-12">

   <table class="table table-striped table-hover table-panel">
     <thead>
     <tr>
       <th class="th-xs">#</th>
       <th>
         <div class="form-group label-floating is-empty">
           <label class="control-label">Packaging Centres</label>
           <input class="form-control" type="text" ng-model="packaging_centre.name">
           <span class="material-input"></span>
         </div>
       </th>
       <th class="th-xs"></th>
       <th class="th-xs" ng-click="addPackagingCentre()"><i class="material-icons">add_circle_outline</i></th>
     </tr>
     </thead>
     <tbody>

     <tr packaging-centre ng-repeat="packaging_centre in packaging_centres"></tr>
      
     </tbody>
   </table>

 </div>

