
<td ng-hide="updateShow">{{$index + 1}}</td>
<td ng-hide="updateShow">{{packaging_centre.name}}</td>
<td ng-hide="updateShow" ng-init="updateShow = false" ng-click="updateShow=!updateShow; setUpdate(packaging_centre)"><i class="icon-edit"></i></td>
<td ng-hide="updateShow" ng-click="deletePackagingCentre(packaging_centre)"><i class="icon-trash"></i></td>

<td ng-show="updateShow">{{$index + 1}}</td>
<td ng-show="updateShow"><input class="form-control" type="text" ng-model="updatedPackagingCentre.name"></td>
<td ng-show="updateShow" ng-click="updateShow=!updateShow"><i class="fa fa-times-circle"></i></td>
<td ng-show="updateShow" ng-click="updatePackagingCentre(packaging_centre)"><i class="fa fa-check-circle"></i></td>