  <div class="container">
    <div class="row">

      <div class="col-md-6 order-description">
        <h3>{{cart.order_id}}</h3>
        <div class="order-status-wrapper">Order status: <span class="order-status">{{getStatusAlias(cart.aasm_state)}}</span></div>
        <div class="order-status-meter-wrapper">
          <div class="progress progress-striped active order-status-meter">
            <div class="progress-bar" style="{{getStatusPercent(cart.aasm_state)}}"></div>
          </div>
         <i ng-repeat-start="status in statuses" class="{{status.icon_class}}" ng-class="{'completed' : checkIfCompleted(status)}" data-toggle="tooltip" title="{{status.alias}}" data-delay="{'show': 1}" data-placement="bottom"></i><span ng-repeat-end> </span>
        </div>
        <div class="order-status-update-wrapper">Update as <span class="btn btn-info btn-raised order-status-update" ng-click="updateStatus()">{{next_status.alias}}</span></div>
        <!-- <div class="order-time-elapsed-wrapper">Time elapsed: <span class="order-time-elapsed">05:21</span></div> -->
        <div class="order-header">
          <span class="order-date">{{cart.updated_at}} <span class="order-time">{{}}</span></span>
          <span class="order-amount-wrapper">
            <span class="order-amount">{{cart.grand_total}}</span>
            <i class="fa fa-question-circle" title="Payment Method" data-placement="bottom" data-content="Credit Card ending with x574" data-toggle="popover" data-trigger="hover"></i>
          </span>
        </div>
        <div class="order-contents">
          <table class="table table-striped table-order-description">
            <thead>
              <tr>
                <th>#</th>
                <th>Order Contents</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in cart.orders">
                <td>{{$index + 1}}</td>
                <td>
                  <div class="combo">
                    <span class="combo-name">{{order.product.name}}</span>
                    <span ng-repeat="order_item in order.order_items">{{order_item.quantity}} x {{order_item.item.name}}</span>
                  </div>
                </td>
                <td>x {{order.quantity}}</td>
                <td><span class="rupee"></span>{{order.total}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td><span class="rupee"></span>{{cart.total}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Vat</td>
                <td>2%</td>
                <td><span class="rupee"></span>{{cart.vat}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Aggregation + Delivery</td>
                <td></td>
                <td><span class="rupee"></span>{{cart.delivery_charge}}</td>
              </tr>
              <tr>
                <td></td>
                <td>Grand Total</td>
                <td></td>
                <td><span class="rupee"></span>{{cart.grand_total}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-md-6 order-description">
        <h3 class="customer-name">{{cart.user.name}}</h3>
        <div class="customer-contact-wrapper">Contact: <span class="customer-contact">+91 {{cart.user.mobile_no}}</span></div>
        <div class="customer-email-wrapper">Email: <span class="customer-email">{{cart.user.email}}</span></div>

        <div class="restaurant-based-order-description" ng-repeat="pOrder in packaging_centre_orders">
          <div class="restaurant-order-header">
            <span class="restaurant-name">{{pOrder.item.restaurant.name}} <span class="restaurant-branch">{{pOrder.item.restaurant.branch}}</span></span>
            <span class="restaurant-contact-wrapper">
              <span class="restaurant-contact">+91 {{pOrder.item.restaurant.landline}}</span>
              <i class="fa fa-question-circle" title="Contact Details" data-placement="bottom" data-content="Address and other contact here" data-toggle="popover" data-trigger="hover"></i>
            </span>
          </div>
          <div class="order-contents">
            <table class="table table-striped table-order-description">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order Contents</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{$index + 1}}</td>
                  <td>{{pOrder.item.name}}</td>
                  <td>x {{pOrder.quantity}}</td>
                  <td><span class="rupee"></span>{{pOrder.item.price}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td>Total</td>
                  <td></td>
                  <td><span class="rupee"></span>{{pOrder.quantity * pOrder.item.price}}</td>
                </tr>
               <!--  <tr class="additional-notes-wrapper">
                  <td colspan="4">
                    <span><i class="fa fa-edit"></i></span>
                    <span class="additional-notes"></span>
                  </td>
                </tr> -->
              </tfoot>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>