<div class="sidebar-wrapper sidebar-open">
  <div class="sidebar">
    <section class="sidebar-section">
      <h5>Manage</h5>
      <ul class="sidebar-nav type">
        <li ng-repeat="option in panelOptions" ng-class="{active: checkIfSelected(option.alias)}" ng-click="selectPanelOption(option.alias)">
          <a>
            <span>{{option.name}}</span>
            <i class="{{option.icon_class}}"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="sidebar-section">
      <h5>Change / Edit</h5>
      <ul class="sidebar-nav price">
        <li onclick="$(this).toggleClass('active')">
          <a>
            <span>Terms</span>
            <i class="fa fa-shield pull-right"></i>
          </a>
        </li>
        <li onclick="$(this).toggleClass('active')">
          <a>
            <span>Discounts</span>
            <i class="fa fa-inr pull-right"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>


<div class="container">
<div class="row">

	<combos ng-show="checkIfSelected('Combos')"></combos>

	<restaurants ng-show="checkIfSelected('Restaurants')"></restaurants>

	<cuisines ng-show="checkIfSelected('Cuisines')"></cuisines>

  <dish-types ng-show="checkIfSelected('DishTypes')"></dish-types>

</div>
</div>