<md-menu-content width="10" flex-offset="33">

		<md-menu-item>
			<md-button ng-click="routeToCombos()">Combos</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToRestaurants()">Restaurants</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToDishTypes()">Dish Types</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToCuisines()">Cuisines</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToCities()">Cities</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToPackagingCentres()">Packaging Centres</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button ng-click="routeToUserRoles()">User Roles</md-button>
		</md-menu-item>

  </md-menu-content>