 <div class="sidebar-wrapper sidebar-open" ng-init="load()">
  <div class="sidebar">
    <section class="sidebar-section">
      <h5>Account</h5>
      <ul class="sidebar-nav group-size">
        <li>
          <a>
            <span>Order History</span>
            <i class="fa fa-shopping-bag pull-right"></i>
          </a>
        </li>
        <li>
          <a>
            <span>Contact Us</span>
            <i class="fa fa-phone pull-right"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div> 

<div class="container">
  <div class="row">

<div class="col-md-6 order-history col-md-offset-1" ng-init="load()">
  <div class="thumbnail verify-account" ng-if="!user.verified">
    <div class="title"> <i class="fa fa-prepend fa-exclamation-triangle"></i> Verify your account to proceed</div>
    <div ng-show="user.otp_set" class="message">We have sent {{user.mobile_no}} a One Time Password (OTP). Enter the OTP here to verify your account</div>
    <div ng-show="!user.otp_set" class="message">We will send {{user.mobile_no}} a One Time Password (OTP).</div>
    <div class="row" ng-show="user.otp_set">
      <div class="form-group label-floating otp-form-group-centered">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-shield"></i></span>
          <label class="control-label">Enter OTP</label>
          <input ng-model="otp" type="text" class="form-control otp_input">
          <p class="help-block"></p>
           <span class="input-group-btn hidden">
             <a class="btn btn-raised btn-danger btn-fab btn-fab-micro">
               <i class="fa fa-question"></i>
             </a>
           </span>
        </div>
      </div>
    </div>
    <button ng-hide="user.otp_set" type="button" class="btn btn-info btn-raised send-otp-button" ng-click="sendOtp()">Get OTP to verify</button>
    <button ng-show="user.otp_set" ng-disabled="!otp.length" ng-click="verifyOtp(otp)" type="button" class="btn btn-success btn-raised verify-otp-button">Verify Account</button>
    <button ng-show="user.otp_set" ng-click="resendOtp()" type="button" class="btn btn-info btn-raised resend-otp-button">Resend OTP</button>
  </div>


    <form class="user-info" name="profileUpdateForm" ng-submit="updateProfile()">
      <div>
        <i class="fa fa-fw fa-user"></i>
        <input type="text" ng-model="user.name" ng-disabled="change_password"/>
      </div>
      <div>
        <i class="fa fa-fw fa-envelope"></i>
        <span class="user-email">{{user.email}}</span>
        <i class="fa fa-fw fa-question-circle" data-container="body" data-title="Email Address" data-content="Invoice will be sent to this email address. You cannot change your email address." data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
      </div>
      <div>
        <i class="fa fa-fw fa-phone"></i>
        <input type="text" class="user-phone-prefix" value="+91" disabled="true" />
        <input type="text" class="user-phone" ng-model="user.mobile_no" ng-disabled="change_password" style="width: 90px;"/>
        <!--//TODO check user.verified below-->
        <i ng-show="user.verified" class="fa fa-fw fa-check-circle" data-container="body" data-title="Account Verified" data-content="Your account has been verified successfully" data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
        <i ng-hide="user.verified" class="fa fa-fw fa-times-circle" data-container="body" data-title="Account not verified" data-content="Please verify your account to place orders. We'll send an OTP to your registered mobile number." data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
      </div>
     <!--  <div>
        <i class="fa fa-fw fa-money"></i>
        <span class="user-email">{{user.mash_cash}}</span>
        <span class="user-email">MashCash</span>
        <i class="fa fa-fw fa-question-circle" data-container="body" data-title="MashCash" data-content="Mash Cash can be used as real cash within Foodmash." data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
      </div> -->
      <div ng-show="change_password">
        <i class="fa fa-fw fa-unlock-alt"></i>
        <input type="password" value="Lorem Ipsum" />
      </div>
      <div ng-show="change_password">
        <i class="fa fa-fw fa-unlock"></i>
        <input type="password" value="Lorem Ipsum" />
      </div>
      <div>
        <button ng-show="!change_password" type="submit" class="btn btn-success btn-raised save-button">Save</button>
        <button type="button" class="btn btn-info btn-raised" ng-init="change_password=false" ng-click="change_password=!change_password">Change Password</button>
      </div>
    </form>
</div>

  </div>
</div>
