
<!-- div layout="row" layout-padding layout-align="center center" ng-init="show=false;updateCross=false" ng-hide="show">
  <md-content flex>{{user.name}}</md-content>
  <md-content flex>{{user.email}}</md-content>
  <md-content flex>{{user.mobile_no}}</md-content>
  <div layout="row" layout-align="center center">
    <md-button class="md-icon-button" ng-click="show = !show;setUpdate(user)">
      <md-icon md-svg-src="{{edit_path}}"></md-icon>
    </md-button>
  </div>
</div>


<form role="form" name="profileUpdateForm" ng-submit="updateProfile(updateCross)">
  <div layout="row" layout-padding layout-align="center center" ng-show="show">
    <md-input-container flex>
      <input type="text" ng-model="updatedUser.name">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="updatedUser.email">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="updatedUser.mobile_no">
    </md-input-container>
    <md-button class="md-icon-button" ng-click="show=!show;updateCross=false">
     <md-icon md-svg-src="{{done_path}}"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="show=!show;updateCross=true">
     <md-icon md-svg-src="{{cross_path}}"></md-icon>
    </md-button>
  </div>
</form> -->



    <div class="col-md-6 order-history">
      <form class="user-info" name="profileUpdateForm" ng-submit="updateProfile()">
        <div>
          <i class="fa fa-user"></i>
          <input type="text" class="user-name" id="user-name" ng-model="user.name" />
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <span class="user-email">{{user.email}}</span>
          <i class="fa fa-question-circle" data-container="body" data-title="Email Address" data-content="Invoice will be sent to the mentioned email address. To change email address, logout and login with the preferred email address" data-toggle="popover" data-trigger="hover" data-placement="bottom"></i>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <input type="text" class="user-phone-prefix" value="+91" disabled="true" />
          <input type="text" class="user-phone" id="user-phone" ng-model="user.mobile_no" />
        </div>
        <div>
          <i class="fa fa-unlock-alt"></i>
          <input type="password" class="user-name" id="user-name" value="Lorem Ipsum" />
        </div>
        <div>
          <i class="fa fa-unlock"></i>
          <input type="password" class="user-name" id="user-name" value="Lorem Ipsum" />
        </div>
        <div>
          <button type="submit" class="btn btn-success btn-raised">Save</button>
        </div>
      </form>

      <!-- <table class="table table-striped table-hover table-addresses">
        <thead>
             <tr class="add-new-address-wrapper">
              <th></th>
              <th colspan="3">Add a new address</th>
            </tr>
            <tr class="new-address-wrapper">
              <td><i class="fa fa-check-circle hidden"></i></td>
              <td>
                <div class="new-address">
                  <input type="text" placeholder="Full Name" id="new-address-name" />
                  <input type="text" placeholder="Address Line 1" id="new-address-line-1" />
                  <input type="text" placeholder="Address Line 2" id="new-address-line-2" />
                  <span>Nandanam, Channai</span>
                </div>
              </td>
              <td colspan="2"><i class="fa fa-check-circle"></i> Save </td>
            </tr>
        </thead>
      </table> -->

    </div>

    <!-- <div class="col-md-6 order-description">
      <div class="order-contents">
        <table class="table table-striped table-hover table-addresses">
          <thead>
            <tr>
              <th style="width:35px"></th>
              <th>Saved Address</th>
              <th style="width:35px"></th>
              <th style="width:35px"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="active">
              <td><i class="fa fa-check-circle"></td>
              <td>
                <div class="combo">
                  <span class="combo-name">Alex Fenton</span>
                  <span>#13, Anushyam Flats</span>
                  <span>Kottur Gardens</span>
                  <span>Kottur, Chennai</span>
                </div>
              </td>
              <td><i class="icon-edit"></i></td>
              <td><i class="icon-trash"></i></td>
            </tr>
            <tr>
              <td><i class="fa fa-check-circle hidden"></i></td>
              <td>
                <div class="combo">
                  <span class="combo-name">Kate Audrey</span>
                  <span>No.67, Dash Apartments</span>
                  <span>Lake View Road</span>
                  <span>RA Puram, Chennai</span>
                </div>
              </td>
              <td><i class="icon-edit"></i></td>
              <td><i class="icon-trash"></i></td>
            </tr>
            <tr>
              <td><i class="fa fa-check-circle hidden"></i></td>
              <td>
                <div class="combo">
                  <span class="combo-name">Max Tennyson</span>
                  <span>Room 5, Kelly Complex</span>
                  <span>Nandanam Main Road</span>
                  <span>Nandanam, Channai</span>
                </div>
              </td>
              <td><i class="icon-edit"></i></td>
              <td><i class="icon-trash"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div> -->