<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail legalese">
            <h3>Refund Policy</h3>
            <div class="caption">
                <p>Foodmash takes customer satisfaction very seriously. If you have any problems with your order, please contact Foodmash and we will try to assist you. In appropriate cases, if you have already been billed by Foodmash, Foodmash may issue full or partial refunds, or “Cash Coupons”.</p>
                <p><b>In case of perishable goods</b></p>
                <p>In case you want to cancel the order for a perishable good, the cost of the products will have to be borne by you.</p>
                <p><b>Post confirmation refund </b></p>
                <p>No refund request will be entertained after confirmation of the order by us and the respective restaurants.</p>
                <p><b>Mode of refund</b></p>
                <p>Online transfer only.</p>
                <p><b>Duration of Refund</b></p>
                <p>10 Working Days</p>
                <p><b>Order Cancellation</b></p>
                <p>In case you want to cancel your order, please call us on +91 8056 249612 within 5 minutes of placing the order before it has been confirmed by the respective restaurants.</p>
            </div>
        </div>
      </div>
    </div>
</div>