<!-- Resturants -->
<md-button class="md-icon-button" ng-init="show=false" ng-click="show = !show">
  <md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/edit.svg"></md-icon>
</md-button>

<form role="form" name="restaurantUpdateForm" ng-submit="updateRestaurant()">
  <div layout="row" layout-padding layout-align="center center" ng-show="show">
    <md-input-container flex>
      <input type="text" ng-model="restaurant.name" placeholder="name">
    </md-input-container>
    <md-input-container flex>
      <textarea ng-model="restaurant.address" placeholder="address"></textarea>
    </md-input-container>
    <md-input-container flex>
      <textarea ng-model="restaurant.description" placeholder="description"></textarea>
    </md-input-container>
     <md-input-container flex>
      <input type="text" ng-model="restaurant.branch" placeholder="branch">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="restaurant.latitude" placeholder="lat">
    </md-input-container>
    <md-input-container flex>
      <input type="text" ng-model="restaurant.longitude" placeholder="long">
    </md-input-container>
    <md-button class="md-icon-button" ng-click="show = !show" name="save">
      <md-icon md-svg-src="assets/svg/done.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="show = !show" name="cancel">
     <md-icon md-svg-src="assets/svg/bin.svg"></md-icon>
    </md-button>
  </div>
</form>

  <div flex layout="column" layout-gt-lg="row">
          <div flex layout="column" layout-padding>
            
            <div layout="column">

              <div layout="row" layout-align="center center">
                <h1 class="md-title" layout-padding>
                   {{restaurant.name}}
                </h1>
              </div>
              <div flex layout-gt-sm="row" layout="column" layout-align="center">
                <div class="md-whiteframe-z2" layout="row" layout-margin>
                      <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="restaurant-icon"></md-icon>
                      <div flex layout="column" layout-align="space-around center" layout-padding layout-align="space-around start">
                        <md-content>Type: Dine | Delivery | Take-away</md-content>
                        <md-content>Working hours: 11am to 11pm</md-content>
                        <md-content>Cuisine: Multi-cuisine</md-content>
                        <md-content>Speciality: Pizzas</md-content>
                        <md-content class="md-subhead"> Ratings: 4.3/5</md-content>
                      </div>
                </div>
                <div flex="40" class="md-whiteframe-z2" layout-margin layout="column" layout-align="space-around center" layout-padding>
                  <h1 class="md-title"> {{restaurant.branch}} </h1>
                  <md-content>{{restaurant.address}}</md-content>
                  <div layout="row" layout-align="center center" layout-padding>
                    <md-button class="md-raised">Call</md-button>
                    <md-button class="md-raised md-primary">Maps</md-button>
                  </div>
                </div>
              </div>

              
            </div>
           <div flex layout="column" class="no-scroll" ng-show="restaurant.description">
                <div layout="row" layout-padding layout-align="center center">
                <h1 class="md-title"> About the Restaurant </h1>
                </div>
                <div flex layout="column" layout-padding class="auto-scroll">
                <p class="no-margin" >{{restaurant.description}}</p>
                </div>
            </div>
          </div>
          <div flex="35" layout="column" layout-padding layout-align="center center" class="md-whiteframe-z2" ng-show="combos">
              <div>
                <h1 class="md-title" layout-padding>
                  Combos with food from {{restaurant.name}}
                </h1>
              </div>
              <div flex class="auto-scroll">
                
              <!-- Combo 1 Card -->
                <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_1_clicked" ng-repeat="combo in combos">
                  <div flex layout="column">

                      <div layout="row" layout-align="space-between center" ng-click="combo_1_clicked=!combo_1_clicked">
                        <md-content flex>
                          <md-list>
                            <md-list-item class="md-3-line">
                              <md-icon md-svg-icon="assets/svg/avatar-1.svg" class="combo"></md-icon>
                              <div class="md-list-item-text">
                                  <h3>{{combo.name}}</h3>
                                  <p>{{combo.description}}</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                        <div layout-padding layout-margin class="rupee">{{combo.price}}</div>
                        <div layout-padding layout-margin ng-show="combo_1_clicked" class="cart">
                        <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                              <md-icon md-svg-src="assets/svg/cart.svg"></md-icon>
                          </md-button>
                        </div>
                      </div>

                      <div layout="row" ng-show="combo_1_clicked" class="combo-options">
                          <div layout="column" layout-padding flex offset="10">
                            <div layout="column">
                                <md-content>
                                  <md-list>
                                    <md-list-item class="md-2-line" ng-repeat="combo_option in combo.combo_options">
                                      <md-icon md-svg-src="assets/svg/avatar-1.svg" class="food"></md-icon>
                                      <div class="md-list-item-text">
                                        <h3>{{combo_option.name}}</h3>
                                        <p>{{combo_option.description}}</p>
                                      </div>
                                    </md-list-item>
                                  </md-list>
                                </md-content>
                              </div>
                            </div>
                          <div flex="10"></div>
                        </div>

                  </div>
                </div>
                <!-- Combo 1 Card ends-->

              </div>
          </div>
        </div>

        <!-- Dishes -->

      <div layout="row">
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
          <div layout="column" flex layout-padding layout-margin>
              <md-content flex class="md-display-1">Dishes</md-content>
              <md-divider class="bottom-margin bottom-padding"></md-divider>
              
              <!-- add new -->
              <md-button class="md-icon-button" layout-padding ng-click="dshow = !dshow" ng-init="dshow = false">
                  <md-icon md-svg-src="assets/svg/add.svg"></md-icon>
              </md-button>
              <div layout="row" ng-show="dshow">
                <md-input-container flex>
                    <label>Name</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Price</label>
                    <input>
                </md-input-container>
                <div layout="row" layout-align="center center" layout-padding>
                  <md-button class="md-icon-button" layout-padding ng-click="dshow = !dshow">
                    <md-icon md-svg-src="assets/svg/done.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" layout-padding ng-click="dshow = !dshow">
                    <md-icon md-svg-src="assets/svg/bin.svg"></md-icon>
                  </md-button>
                </div>
              </div>
              <!-- add new ends -->

              <!-- for loop for listing -->

              <!-- item 1 -->
              <div layout="row" layout-padding layout-align="center center">
                <md-content flex>Chocolate Sandwich</md-content>
                <md-content flex>40</md-content>
                <div layout="row" layout-align="center center">
                  <md-button class="md-icon-button">
                    <md-icon md-svg-src="assets/svg/edit.svg"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button">
                    <md-icon md-svg-src="assets/svg/bin.svg"></md-icon>
                  </md-button>
                </div>
              </div>
              <!-- for loop ends -->
              
          </div>
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
        </div>
                <!-- Dishes ends-->
<!-- Restaurant ends -->