<!-- Resturants -->
<div layout="row" layout-align="center left">
  <md-button class="md-icon-button" ng-init="updateShow=false" ng-click="updateShow = !updateShow; setUpdate(restaurant)">
    <md-icon md-svg-src="{{edit_path}}"></md-icon>
  </md-button>

  <md-button class="md-icon-button" ng-init="updateShow=false; updateCross=false">
    <md-icon md-svg-src="{{bin_path}}" ng-click="deleteRestaurant()"></md-icon>
  </md-button>
</div>

<form role="form" name="restaurantUpdateForm" ng-submit="updateRestaurant(updateCross)" ng-show="updateShow">
  <div layout="row" layout-padding layout-align="center center">
    <span class="progress" ng-show="file.progress > 0 && file.progress != 100">{{file.progress + '%'}}</span>
    <md-button class="md-icon-button" type="file" ngf-select="uploadFiles($file, $invalidFiles, updatedRestaurant)" 
    accept="image/*" ngf-max-size="40MB">
      <img ng-src="{{updatedRestaurant.logo}}" alt="Restaurant Logo" />
    </md-button>
    <md-input-container flex>
      <label>name</label>
      <input type="text" ng-model="updatedRestaurant.name" />
    </md-input-container>
    <md-input-container flex>
      <label>address</label>
      <input ng-model="updatedRestaurant.address" />
    </md-input-container>
    <md-input-container flex>
      <label>description</label>
      <input ng-model="updatedRestaurant.description" />
    </md-input-container>
     <md-input-container flex>
      <label>branch</label>
      <input type="text" ng-model="updatedRestaurant.branch" />
    </md-input-container>
    <md-input-container flex>
      <label>latitude</label>
      <input type="text" ng-model="updatedRestaurant.latitude" />
    </md-input-container>
    <md-input-container flex>
      <label>longitude</label>
      <input type="text" ng-model="updatedRestaurant.longitude" />
    </md-input-container>
    <md-button class="md-icon-button" ng-click="updateShow = !updateShow; updateCross = false" name="save">
      <md-icon md-svg-src="{{done_path}}"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="updateShow = !updateShow; updateCross = true" name="cancel">
     <md-icon md-svg-src="{{cross_path}}"></md-icon>
    </md-button>
  </div>
</form>

  <div flex layout="column" layout-gt-lg="row">
          <div flex layout="column" layout-padding>
            
            <div layout="column">

              <div layout="row" layout-align="center center">
                <h1 class="md-title" layout-padding>
                   {{restaurant.name}}
                </h1>
              </div>
              <div flex layout-gt-sm="row" layout="column" layout-align="center">
                <div class="md-whiteframe-z2" layout="row" layout-margin>
                      <md-icon md-svg-icon="{{avatar_path}}" class="restaurant-icon"></md-icon>
                      <div flex layout="column" layout-align="space-around center" layout-padding layout-align="space-around start">
                        <md-content>Type: Dine | Delivery | Take-away</md-content>
                        <md-content>Working hours: 11am to 11pm</md-content>
                        <md-content>Cuisine: Multi-cuisine</md-content>
                        <md-content>Speciality: Pizzas</md-content>
                        <md-content class="md-subhead"> Ratings: 4.3/5</md-content>
                      </div>
                </div>
                <div flex="40" class="md-whiteframe-z2" layout-margin layout="column" layout-align="space-around center" layout-padding>
                  <h1 class="md-title"> {{restaurant.branch}} </h1>
                  <md-content>{{restaurant.address}}</md-content>
                  <div layout="row" layout-align="center center" layout-padding>
                    <md-button class="md-raised">Call</md-button>
                    <md-button class="md-raised md-primary">Maps</md-button>
                  </div>
                </div>
              </div>

              
            </div>
           <div flex layout="column" class="no-scroll" ng-show="restaurant.description">
                <div layout="row" layout-padding layout-align="center center">
                <h1 class="md-title"> About the Restaurant </h1>
                </div>
                <div flex layout="column" layout-padding class="auto-scroll">
                <p class="no-margin" >{{restaurant.description}}</p>
                </div>
            </div>
          </div>
          <div flex="35" layout="column" layout-padding layout-align="center center" class="md-whiteframe-z2" ng-show="combos" ng-cloak>
              <div>
                <h1 class="md-title" layout-padding>
                  Combos with food from {{restaurant.name}}
                </h1>
              </div>
              <div flex class="auto-scroll">
                
              <!-- Combo 1 Card -->
                <div layout="row" flex layout-margin class="md-whiteframe-z2" ng-init="combo_1_clicked" ng-repeat="combo in combos">
                  <div flex layout="column">

                      <div layout="row" layout-align="space-between center" ng-click="combo_1_clicked=!combo_1_clicked">
                        <md-content flex>
                          <md-list>
                            <md-list-item class="md-3-line">
                              <md-icon md-svg-icon="{{avatar_path}}" class="combo"></md-icon>
                              <div class="md-list-item-text">
                                  <h3>{{combo.name}}</h3>
                                  <p>{{combo.description}}</p>
                              </div>
                            </md-list-item>
                          </md-list>
                        </md-content>
                        <div layout-padding layout-margin class="rupee">{{combo.price}}</div>
                        <div layout-padding layout-margin ng-show="combo_1_clicked" class="cart">
                        <md-button class="md-icon-button md-primary" aria-label="Eat cake">
                              <md-icon md-svg-src="{{cart_path}}"></md-icon>
                          </md-button>
                        </div>
                      </div>

                      <div layout="row" ng-show="combo_1_clicked" class="combo-options">
                          <div layout="column" layout-padding flex offset="10">
                            <div layout="column">
                                <md-content>
                                  <md-list>
                                    <md-list-item class="md-2-line" ng-repeat="combo_option in combo.combo_options">
                                      <md-icon md-svg-src="{{avatar_path}}" class="food"></md-icon>
                                      <div class="md-list-item-text">
                                        <h3>{{combo_option.name}}</h3>
                                        <p>{{combo_option.description}}</p>
                                      </div>
                                    </md-list-item>
                                  </md-list>
                                </md-content>
                              </div>
                            </div>
                          <div flex="10"></div>
                        </div>

                  </div>
                </div>
                <!-- Combo 1 Card ends-->

              </div>
          </div>
        </div>

        <!-- Dishes -->
      <div layout="row" ng-controller="DishesController" >
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm></div>
          <div layout="column" flex layout-padding layout-margin>
              <md-content flex class="md-display-1" id="load-dishes" ng-click="loadDishes(restaurant.id)">Dishes</md-content>
              <md-divider class="bottom-margin bottom-padding"></md-divider>
              
              <!-- add new -->
              <md-button class="md-icon-button" layout-padding ng-click="dishesAddShow = !dishesAddShow" ng-init="dishesAddShow = true; dishesAddCross = false">
                  <md-icon md-svg-src="{{add_path}}"></md-icon>
              </md-button>
              <form name="dishAddForm" layout="row" ng-show="dishesAddShow" ng-submit="addDish(dishesAddCross, restaurant.id)">
                <md-input-container flex>
                  <label>Name</label>
                  <input type="text" ng-model="dish.name" />
                </md-input-container>
                <md-input-container flex>
                  <label>Price</label>
                  <input type="text" ng-model="dish.price" />
                </md-input-container>
                 <md-input-container flex>
                  <label>Description</label>
                  <input type="text" ng-model="dish.description" />
                </md-input-container>
                <md-input-container flex>
                  <label>Type</label>
                  <md-select ng-model="dish.dish_type_id">
                    <md-option ng-repeat="dish_type in dish_types" value="{{dish_type.id}}">{{dish_type.name}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex>
                  <label>Cuisine</label>
                  <md-select ng-model="dish.cuisine_id">
                    <md-option ng-repeat="cuisine in cuisines" value="{{cuisine.id}}">{{cuisine.name}}</md-option>
                  </md-select>
                </md-input-container>
                 <md-input-container flex>
                      <label>Label</label>
                      <md-select ng-model="dish.label">
                        <md-option value="veg">Veg</md-option>
                        <md-option value="non-veg">Non Veg</md-option>
                        <md-option value="egg">Egg</md-option>
                      </md-select>
                    </md-input-container>
                <div layout="row" layout-align="center center" layout-padding>
                  <md-button class="md-icon-button" layout-padding ng-click="dishesAddCross=false">
                    <md-icon md-svg-src="{{done_path}}"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" layout-padding ng-click="dishesAddShow = !dishesAddShow; dishesAddCross=true">
                    <md-icon md-svg-src="{{cross_path}}"></md-icon>
                  </md-button>
                </div>
              </form>
              <!-- add new ends -->

              <!-- for loop for listing -->

              <!-- item 1 -->
              <dish ng-repeat="dish in dishes"> </dish>
              <!-- for loop ends -->
              
          </div>
          <div flex-md="15" flex-lg="20" flex-gt-lg="25" hide-sm> </div>
        </div>
                <!-- Dishes ends-->
<!-- Restaurant ends -->
   









