

<td ng-hide="updateShow">{{$index + 1}}</td>
<td ng-hide="updateShow" ng-click="dishesShow=!dishesShow">{{restaurant.name}}</td>
<td ng-hide="updateShow">{{restaurant.address}}</td>
<td ng-hide="updateShow">{{restaurant.area.name}}</td>
<td ng-hide="updateShow">{{restaurant.description}}</td>
<td ng-hide="updateShow"><i class="material-icons">image</i></td>
<td ng-hide="updateShow" ng-init="upadteShow=false" ng-click="updateShow=!updateShow; setUpdate(restaurant)"><i class="icon-edit"></i></td>
<td ng-hide="updateShow"><i class="icon-trash" ng-click="deleteRestaurant(restaurant)"></i></td>

 <td ng-show="updateShow">{{$index + 1}}</td>
 <td ng-show="updateShow">
     <input class="form-control" type="text" ng-model="updatedRestaurant.name">
 </td>
<td ng-show="updateShow">
     <input class="form-control" type="text" ng-model="updatedRestaurant.address">
 </td>
 <td ng-show="updateShow">
   <div class="form-group label-floating is-empty">
     <span class="dropdown location-dropdown">
     <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedAreaForUpdate.name || updatedRestaurant.area.name}}
       <b class="caret"></b></a>
       <ul class="dropdown-menu" id="delivery-location-dropdown">
         <li ng-repeat="area in areas" ng-click="selectAreaForUpdate(area)"><a>{{area.name}}</a></li>
       </ul>
     </span>
     <span class="material-input"></span>
   </div>
 </td>
 <td ng-show="updateShow">
    <input class="form-control" type="text" ng-model="updatedRestaurant.description">
 </td>
 <td ng-show="updateShow" ng-click="updateShow = !updateShow"><i class="fa fa-times-circle"></i></td>
 <td ng-show="updateShow" ng-click="updateRestaurant(restaurant)"><i class="fa fa-check-circle"></i></td>

