
<div layout="row" layout-padding layout-align="center center">
  <div layout="column" layout-padding layout-align="center center">
    <md-content flex><h3>{{user.email}}</h3></md-content>
    <md-chips ng-model="user.roles" readonly="ctrl.readonly">
      <md-chip-template>
        <strong>{{$chip.name}}</strong>
        <em ng-if="$chip.resource">({{$chip.resource.name}} : {{$chip.resource.branch}})</em>
        <md-chips>
        	<button md-chip-remove ng-click="removeRole($chip, user)">
        		<md-icon md-svg-src="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/cross.svg"></md-icon>
        	</button>
        </md-chips>
      </md-chip-template>
    </md-chips>
  </div>
</div>
