<div>
  <div layout="row" layout-padding layout-align="center center">
    <div>
      <md-content flex>{{user.email}}</md-content>
      <md-chips ng-model="user.roles">
        <md-chip-template>
          <strong>{{$chip}}</strong>
          <!-- <em>(fruit)</em> -->
        </md-chip-template>
      </md-chips>
      <div layout="row" layout-align="center center">
        <md-button class="md-icon-button">
          <md-icon md-svg-src="assets/svg/edit.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon md-svg-src="assets/svg/bin.svg"></md-icon>
        </md-button>
      </div>
    </div>

    <form>
      
    </form>

  </div>
</div>