
 <div class="col-md-12">

  <div class="form-group label-floating is-empty">
      <input class="form-control" type="text" ng-model="email" ng-change="searchUsers()" placeholder="search by email">
      <span class="material-input"></span>
  </div>

   <table class="table table-striped table-hover table-panel">
     <thead>
     <tr>
       <th style="width:40px">#</th>
       <th>
           <label class="control-label">Name</label>
       </th>
       <th>
           <label class="control-label">Roles</label>
       </th>
     </tr>
     </thead>
     <tbody>

        <tr user-role ng-repeat="user in users"></tr>

     </tbody>
   </table>

 </div>