
 <div class="col-md-12">

   <table class="table table-striped table-hover table-panel">
     <thead>
     <tr>
       <th class="th-xs">#</th>
       <th>
         <div class="form-group label-floating is-empty">
           <label class="control-label">V Name</label>
           <input class="form-control" type="text" ng-model="version.version_name">
           <span class="material-input"></span>
         </div>
       </th>
        <th>
         <div class="form-group label-floating is-empty">
           <label class="control-label">Changelog</label>
           <input class="form-control" type="text" ng-model="version.changelog">
           <span class="material-input"></span>
         </div>
       </th>
       <th>
         <div class="form-group label-floating is-empty">
           <label class="control-label">Force</label>
           <input class="form-control" type="checkbox" ng-model="version.forcec">
           <span class="material-input"></span>
         </div>
       </th>
       <th>
         <div class="form-group label-floating is-empty">
           <label class="control-label">V Code</label>
           <input class="form-control" type="text" ng-model="version.version_code">
           <span class="material-input"></span>
         </div>
       </th>
       <th class="th-xs"></th>
       <th class="th-xs" ng-click="addVersion()"><i class="material-icons">add_circle_outline</i></th>
     </tr>
     </thead>
     <tbody>

    <tr version ng-repeat="version in versions"></tr>
      
     </tbody>
   </table>

 </div>

