/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require angularjs-toaster/toaster
 *= require bootstrap-material-design
 *= require ripples
 *= require material_icons
 *= require material-icons
 *= require foodmash-fonts
 *= require animate
 *= require global
 *= require_self
 */

 /*CSS for Panel starts*/
.table-panel tr i {
  transition: all 0.3s ease-in-out; }
  .table-panel tr i:hover {
    color: #c80a00; }
.table-panel tr th > .label-floating {
  padding: 0;
  margin: 0 0 -7px 0; }
  .table-panel tr th > .label-floating > label {
    font-weight: inherit;
    color: inherit; }
  .table-panel tr th > .label-floating > input {
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
    background: none !important; }
.table-panel tr:nth-child(2n) {
  background-color: #f0f0ff; }
/*CSS for panel ends*/


/*CSS for cart starts*/
.table-cart tbody tr div.combo span, .table-addresses tbody tr div.combo span {
  display: inline-block; }
.table-cart tbody tr div.combo span:not(.combo-name), .table-addresses tbody tr div.combo span:not(.combo-name) {
  display: block;
  font-size: 12px; }

.table-cart tbody tr .quantity-counter .quantity {
  padding: 0px 2px;
  vertical-align: middle; }
.table-cart tfoot tr:first-child {
  border-top: 2px solid rgba(128, 128, 128, 0.15);
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
  background-color: #dbe9ff;
  font-weight: 100; }
.table-cart tfoot tr:last-child {
  border-top: 2px solid rgba(128, 128, 128, 0.15);
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
  background-color: #349C27;
  color: #FFF;
  font-weight: 100; }

.table-addresses tbody tr div.new-address > * {
  font-size: 12px; }
.table-addresses tbody tr div.new-address input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block; }
  .table-addresses tbody tr div.new-address input:first-child {
    font-size: 15px; }
.table-addresses tbody tr.active {
  background-color: #dbe9ff; }
  .table-addresses tbody tr.active td {
    background-color: transparent; }
    .table-addresses tbody tr.active td i.fa {
      color: #349C27; }

.delivery-information .user-email-wrapper i {
  padding: 13px; }
.delivery-information .user-phone-wrapper {
  margin-bottom: 10px; }
  .delivery-information .user-phone-wrapper i {
    padding: 13px; }
  .delivery-information .user-phone-wrapper .user-phone-prefix {
    width: 30px; }
  .delivery-information .user-phone-wrapper .user-phone, .delivery-information .user-phone-wrapper .user-phone-prefix {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.proceed-to-pay-wrapper {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px; }
/*CSS for cart ends*/

/*CSS for main*/
.loader {
  background: #111; }
  .loader div.loader-wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .loader div.loader-wrapper a {
      color: #CCC; }
    .loader div.loader-wrapper a:hover, .loader div.loader-wrapper a:focus, .loader div.loader-wrapper a:active {
      color: #FFF;
      text-decoration: none;
      background-color: transparent; }
    .loader div.loader-wrapper > *:not(:first-child) {
      margin-top: 20px; }
    .loader div.loader-wrapper .choose-delivery-location-wrapper {
      margin-top: 20px;
      color: #CCC; }
      .loader div.loader-wrapper .choose-delivery-location-wrapper > *:not(:last-child) {
        margin-right: 5px; }
      .loader div.loader-wrapper .choose-delivery-location-wrapper > .dropdown {
        font-size: 20px; }
        .loader div.loader-wrapper .choose-delivery-location-wrapper > .dropdown > .dropdown-menu {
          margin-top: 10px;
          right: 0; }
          .loader div.loader-wrapper .choose-delivery-location-wrapper > .dropdown > .dropdown-menu li a {
            color: #111; }
          .loader div.loader-wrapper .choose-delivery-location-wrapper > .dropdown > .dropdown-menu li a:hover {
            color: #000;
            background-color: #DDD; }

.thumbnail.combo-card {
  position: relative;
  -webkit-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  padding: 0; }
  .thumbnail.combo-card .caption {
    padding: 15px;
    margin-bottom: 40px; }
    .thumbnail.combo-card .caption > p {
      font-size: 13px; }
      .thumbnail.combo-card .caption > p:last-child {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 15px;
        right: 15px; }
        .thumbnail.combo-card .caption > p:last-child:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1); }
  .thumbnail.combo-card .quantity-counter {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .thumbnail.combo-card .quantity-counter .quantity {
      padding: 0px 5px;
      vertical-align: middle; }

@media (min-width: 991px) and (max-width: 1199px) {
  .thumbnail.combo-card .caption p:last-child a.btn {
    padding: 5px; } }
/*CSS for main*/

/*CSS for order history*/
.table-order-history tr i {
  transition: all 0.3s ease-in-out; }
  .table-order-history tr i:hover {
    color: #c80a00; }
.table-order-history tr th > .label-floating {
  padding: 0;
  margin: 0 0 -7px 0; }
  .table-order-history tr th > .label-floating > label {
    font-weight: inherit;
    color: inherit; }
  .table-order-history tr th > .label-floating > input {
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
    background: none !important; }
.table-order-history tr:nth-child(2n) {
  background-color: #f0f0ff; }
.table-order-history tbody tr.active {
  position: relative;
  background-color: #333;
  color: #FFF;
  /*&:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    border-left: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }*/ }
  .table-order-history tbody tr.active td {
    background-color: transparent; }
  .table-order-history tbody tr.active:hover {
    background-color: #666; }
    .table-order-history tbody tr.active:hover td {
      background-color: transparent; }
.table-order-history tbody tr:last-child {
  text-align: center; }
  .table-order-history tbody tr:last-child:hover {
    background-color: #444;
    color: #FFF; }
    .table-order-history tbody tr:last-child:hover td span {
      color: #FFF; }
  .table-order-history tbody tr:last-child:active {
    background-color: #333;
    color: #FFF; }
  .table-order-history tbody tr:last-child td span {
    color: #ff0a00; }

.order-description {
  padding: 20px; }
  .order-description h3, .order-description .order-status-wrapper {
    text-align: center; }
    .order-description h3 .order-status, .order-description .order-status-wrapper .order-status {
      font-weight: bold; }
  .order-description .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    z-index: 2; }
    .order-description .order-status-meter-wrapper i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .order-description .order-status-meter-wrapper i.fa.completed {
      background-color: #FFF;
      color: #111; }
    .order-description .order-status-meter-wrapper .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1; }
      .order-description .order-status-meter-wrapper .order-status-meter .progress-bar {
        background-color: #349C27;
        border-radius: 15px; }
  .order-description .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .order-header span {
      display: inline-block; }
    .order-description .order-header .order-date {
      font-weight: bold; }
      .order-description .order-header .order-date:before {
        font-weight: 100;
        content: "Date: "; }
      .order-description .order-header .order-date .order-time {
        font-weight: 100; }
    .order-description .order-header .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .order-header .order-amount-wrapper:before {
        font-weight: 100;
        content: "Total amount: "; }
      .order-description .order-header .order-amount-wrapper .order-amount:before {
        content: "Rs."; }
  .order-description .table-order-description tbody tr div.combo span {
    display: inline-block; }
  .order-description .table-order-description tbody tr div.combo span:not(.combo-name) {
    display: block;
    font-size: 12px; }
  .order-description .table-order-description tfoot tr:first-child {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #77C16E;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr:last-child {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #349C27;
    color: #FFF;
    font-weight: 100; }

@media (max-width: 767px) {
  .order-history {
    padding: 0; } }
/*CSS for order history*/


/*CSS for packaging panel begins*/
.table-order-history tr i {
  transition: all 0.3s ease-in-out; }
  .table-order-history tr i:hover {
    color: #c80a00; }
.table-order-history tr th > .label-floating {
  padding: 0;
  margin: 0 0 -7px 0; }
  .table-order-history tr th > .label-floating > label {
    font-weight: inherit;
    color: inherit; }
  .table-order-history tr th > .label-floating > input {
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
    background: none !important; }
.table-order-history tr td .order-time {
  font-size: 14px; }
.table-order-history tr:nth-child(2n) {
  background-color: #f0f0ff; }
.table-order-history tbody tr.active {
  position: relative;
  background-color: #333;
  color: #FFF;
  /*&:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    border-left: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }*/ }
  .table-order-history tbody tr.active td {
    background-color: transparent; }
  .table-order-history tbody tr.active:hover {
    background-color: #666; }
    .table-order-history tbody tr.active:hover td {
      background-color: transparent; }
.table-order-history tbody tr:last-child {
  text-align: center; }
  .table-order-history tbody tr:last-child:hover {
    background-color: #444;
    color: #FFF; }
    .table-order-history tbody tr:last-child:hover td span {
      color: #FFF; }
  .table-order-history tbody tr:last-child:active {
    background-color: #333;
    color: #FFF; }
  .table-order-history tbody tr:last-child td span {
    color: #ff0a00; }

.order-description {
  padding: 20px; }
  .order-description h3, .order-description .order-status-wrapper,
  .order-description .order-status-update-wrapper,
  .order-description .order-time-elapsed-wrapper,
  .order-description .customer-contact-wrapper,
  .order-description .customer-email-wrapper {
    text-align: center; }
    .order-description h3 .order-status,
    .order-description h3 .order-time-elapsed,
    .order-description h3 .customer-email,
    .order-description h3 .customer-contact, .order-description .order-status-wrapper .order-status,
    .order-description .order-status-wrapper .order-time-elapsed,
    .order-description .order-status-wrapper .customer-email,
    .order-description .order-status-wrapper .customer-contact,
    .order-description .order-status-update-wrapper .order-status,
    .order-description .order-status-update-wrapper .order-time-elapsed,
    .order-description .order-status-update-wrapper .customer-email,
    .order-description .order-status-update-wrapper .customer-contact,
    .order-description .order-time-elapsed-wrapper .order-status,
    .order-description .order-time-elapsed-wrapper .order-time-elapsed,
    .order-description .order-time-elapsed-wrapper .customer-email,
    .order-description .order-time-elapsed-wrapper .customer-contact,
    .order-description .customer-contact-wrapper .order-status,
    .order-description .customer-contact-wrapper .order-time-elapsed,
    .order-description .customer-contact-wrapper .customer-email,
    .order-description .customer-contact-wrapper .customer-contact,
    .order-description .customer-email-wrapper .order-status,
    .order-description .customer-email-wrapper .order-time-elapsed,
    .order-description .customer-email-wrapper .customer-email,
    .order-description .customer-email-wrapper .customer-contact {
      font-weight: bold; }
  .order-description .order-time-elapsed-wrapper,
  .order-description .customer-email-wrapper {
    margin-bottom: 30px; }
  .order-description .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    z-index: 2; }
    .order-description .order-status-meter-wrapper i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .order-description .order-status-meter-wrapper i.fa.completed {
      background-color: #FFF;
      color: #111; }
    .order-description .order-status-meter-wrapper .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1; }
      .order-description .order-status-meter-wrapper .order-status-meter .progress-bar {
        background-color: #349C27;
        border-radius: 15px; }
  .order-description .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .order-header span {
      display: inline-block; }
    .order-description .order-header .order-date {
      font-weight: bold; }
      .order-description .order-header .order-date:before {
        font-weight: 100;
        content: "Date: "; }
      .order-description .order-header .order-date .order-time {
        font-weight: 100; }
    .order-description .order-header .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .order-header .order-amount-wrapper:before {
        font-weight: 100;
        content: "Total amount: "; }
      .order-description .order-header .order-amount-wrapper .order-amount:before {
        content: "Rs."; }
  .order-description .restaurant-order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .restaurant-order-header span {
      display: inline-block; }
    .order-description .restaurant-order-header .restaurant-name {
      font-weight: bold; }
      .order-description .restaurant-order-header .restaurant-name:before {
        font-weight: 100;
        content: "Restaurant: "; }
      .order-description .restaurant-order-header .restaurant-name .restaurant-branch {
        font-weight: 100; }
    .order-description .restaurant-order-header .restaurant-contact-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .restaurant-order-header .restaurant-contact-wrapper:before {
        font-weight: 100;
        content: "Ph: "; }
  .order-description .table-order-description tbody tr div.combo span {
    display: inline-block; }
  .order-description .table-order-description tbody tr div.combo span:not(.combo-name) {
    display: block;
    font-size: 12px; }
  .order-description .table-order-description tfoot tr:first-child {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #77C16E;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr:last-child:not(.additional-notes-wrapper) {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #349C27;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] {
    padding: 20px;
    text-align: center; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span {
      display: inline-block;
      vertical-align: middle; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span i {
      font-size: 30px; }

@media (max-width: 767px) {
  .order-history {
    padding: 0; } }
/*CSS for packaging panel ends*/

/*CSS for restaurant panel begins*/
.table-restaurant-panel tr i {
  transition: all 0.3s ease-in-out; }
  .table-restaurant-panel tr i:hover {
    color: #c80a00; }
.table-restaurant-panel tr th > .label-floating {
  padding: 0;
  margin: 0 0 -7px 0; }
  .table-restaurant-panel tr th > .label-floating > label {
    font-weight: inherit;
    color: inherit; }
  .table-restaurant-panel tr th > .label-floating > input {
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
    background: none !important; }
.table-restaurant-panel tr:nth-child(2n) {
  background-color: #f0f0ff; }
.table-restaurant-panel tbody tr.active {
  position: relative;
  background-color: #333;
  color: #FFF;
  /*&:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    border-left: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }*/ }
  .table-restaurant-panel tbody tr.active td {
    background-color: transparent; }
  .table-restaurant-panel tbody tr.active:hover {
    background-color: #666; }
    .table-restaurant-panel tbody tr.active:hover td {
      background-color: transparent; }

.order-description {
  padding: 20px; }
  .order-description h3, .order-description .order-status-wrapper,
  .order-description .order-status-update-wrapper,
  .order-description .order-time-elapsed-wrapper {
    text-align: center; }
    .order-description h3 .order-status, .order-description h3 .order-time-elapsed, .order-description .order-status-wrapper .order-status, .order-description .order-status-wrapper .order-time-elapsed,
    .order-description .order-status-update-wrapper .order-status,
    .order-description .order-status-update-wrapper .order-time-elapsed,
    .order-description .order-time-elapsed-wrapper .order-status,
    .order-description .order-time-elapsed-wrapper .order-time-elapsed {
      font-weight: bold; }
  .order-description .order-time-elapsed-wrapper {
    margin-bottom: 30px; }
  .order-description .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    z-index: 2; }
    .order-description .order-status-meter-wrapper i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .order-description .order-status-meter-wrapper i.fa.completed {
      background-color: #FFF;
      color: #111; }
    .order-description .order-status-meter-wrapper .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1; }
      .order-description .order-status-meter-wrapper .order-status-meter .progress-bar {
        background-color: #349C27;
        border-radius: 15px; }
  .order-description .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .order-header span {
      display: inline-block; }
    .order-description .order-header .order-date {
      font-weight: bold; }
      .order-description .order-header .order-date:before {
        font-weight: 100;
        content: "Date: "; }
      .order-description .order-header .order-date .order-time {
        font-weight: 100; }
    .order-description .order-header .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .order-header .order-amount-wrapper:before {
        font-weight: 100;
        content: "Total amount: "; }
      .order-description .order-header .order-amount-wrapper .order-amount:before {
        content: "Rs."; }
  .order-description .table-order-description tfoot tr:first-child {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #349C27;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] {
    padding: 30px;
    text-align: center; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span {
      display: inline-block;
      vertical-align: middle; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span i {
      font-size: 30px; }

@media (max-width: 767px) {
  .order-history {
    padding: 0; } }
/*CSS for restaurant panel ends*/


/*CSS for profile begins*/
.user-info div i {
  padding: 13px; }
.user-info div .user-phone-prefix {
  width: 30px; }
.user-info div input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.user-info > *:last-child {
  margin-bottom: 20px; }

.table-addresses thead tr div.new-address > * {
  font-size: 12px; }
.table-addresses thead tr div.new-address input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block; }
  .table-addresses thead tr div.new-address input:first-child {
    font-size: 15px; }
.table-addresses tbody tr div.combo span {
  display: inline-block; }
.table-addresses tbody tr div.combo span:not(.combo-name) {
  display: block;
  font-size: 12px; }
.table-addresses tbody tr.active {
  background-color: #dbe9ff; }
  .table-addresses tbody tr.active td {
    background-color: transparent; }
    .table-addresses tbody tr.active td i.fa {
      color: #349C27; }

/*CSS for profile ends*/

/*Signin and Register*/
.btn-login, .btn-register {
  padding: 10px 40px;
  font-size: 17px; }

.login-checkbox, .register-checkbox {
  padding: 10px 0; }

.login-wrapper, .register-wrapper {
  padding: 20px;
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  text-align-last: justify; }
  .login-wrapper > *, .register-wrapper > * {
    display: inline-block; }

@media (max-width: 550px) {
  .login-wrapper, .register-wrapper {
    text-align: none; }
    .login-wrapper > *, .register-wrapper > * {
      display: table;
      margin: 0 auto 30px; } }
/*Signin and Register*/

/*CSS for sidebar begins*/
.sidebar-wrapper {
  font-family: "Myriad Pro";
  color: #CCC;
  width: 150px;
  background-color: #333333;
  position: fixed;
  z-index: 199;
  top: 50px;
  left: 0px;
  bottom: 0;
  transition: all 0.3s ease-in-out; }
  .sidebar-wrapper section.location-section {
    padding: 15px 15px; }
    .sidebar-wrapper section.location-section a {
      color: #CCC; }
    .sidebar-wrapper section.location-section a:hover, .sidebar-wrapper section.location-section a:focus, .sidebar-wrapper section.location-section a:active {
      color: #FFF;
      text-decoration: none;
      background-color: transparent; }
    .sidebar-wrapper section.location-section > i {
      margin-right: 5px; }
    .sidebar-wrapper section.location-section > ul {
      padding: 0;
      display: inline-block;
      list-style-type: none;
      margin: 0; }
    .sidebar-wrapper section.location-section .location-dropdown {
      color: #CCC;
      position: relative; }
      .sidebar-wrapper section.location-section .location-dropdown ul.dropdown-menu {
        margin-top: 5px;
        float: right;
        clear: right;
        position: absolute;
        left: -20px;
        background-color: #080808; }
        .sidebar-wrapper section.location-section .location-dropdown ul.dropdown-menu li a {
          padding: 10px 20px; }
  .sidebar-wrapper section .sidebar-search-wrapper {
    padding: 0 10px; }
    .sidebar-wrapper section .sidebar-search-wrapper > .form-group {
      margin: 0;
      padding: 5px 0; }
    .sidebar-wrapper section .sidebar-search-wrapper .input-search {
      display: inline-block;
      width: calc(100% - 30px);
      background: none;
      color: #FFF;
      padding: 0;
      margin: 0; }
  .sidebar-wrapper section > h5 {
    font-family: "Myriad Pro Semibold";
    padding: 10px 20px 12px 20px;
    margin: 10px 0 0 0;
    position: relative; }
    .sidebar-wrapper section > h5:after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2); }
  .sidebar-wrapper section > ul.sidebar-nav {
    padding: 0;
    font-size: 13px;
    list-style-type: none; }
    .sidebar-wrapper section > ul.sidebar-nav > li.active a {
      background-color: rgba(0, 0, 0, 0.5);
      color: #FFF; }
      .sidebar-wrapper section > ul.sidebar-nav > li.active a:hover:before {
        background-color: white; }
      .sidebar-wrapper section > ul.sidebar-nav > li.active a:before {
        left: 0;
        background-color: #c80a00; }
    .sidebar-wrapper section > ul.sidebar-nav > li > a {
      display: block;
      padding: 10px 15px;
      position: relative; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:hover {
        text-decoration: none;
        color: inherit; }
        .sidebar-wrapper section > ul.sidebar-nav > li > a:hover > span {
          transform: translateX(5px); }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > span {
        display: inline-block;
        transition: all 0.3s ease-in-out; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > i.fa, .sidebar-wrapper section > ul.sidebar-nav > li > a i.material-icons, .sidebar-wrapper section > ul.sidebar-nav > li > a i[class*='icon-'] {
        padding: 3px; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > .label.pull-right {
        margin: 2px; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFF; }
        .sidebar-wrapper section > ul.sidebar-nav > li > a:hover:before {
          left: 0; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:before {
        content: "";
        position: absolute;
        left: -3px;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: white;
        transition: background-color 0.2s ease-in-out; }

@media (max-width: 435px) {
  body {
    padding-left: 0; }

  .sidebar-wrapper {
    left: -200px;
    width: 200px; } }
@media (min-width: 436px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-options-wrapper {
    display: none; } }
@media (min-width: 530px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 768px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    top: 50px;
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 600px; }

  .navbar-search-form {
    padding: 0; } }
@media (min-width: 880px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 992px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 820px; } }
@media (min-width: 1050px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 1200px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 1020px; } }
@media (min-width: 1300px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
.sidebar-wrapper.slide-and-hide {
  left: -150px; }

.sidebar-wrapper.slider-open {
  left: 0px; }
/*CSS for sidebar ends*/

/*CSS for combo-description begins*/
.thumbnail.combo-option,
.thumbnail.combo-dish {
  padding: 0;
  -webkit-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1); }
  .thumbnail.combo-option .caption,
  .thumbnail.combo-dish .caption {
    padding: 15px; }
    .thumbnail.combo-option .caption > p,
    .thumbnail.combo-dish .caption > p {
      font-size: 13px; }
      .thumbnail.combo-option .caption > p:last-child,
      .thumbnail.combo-dish .caption > p:last-child {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 15px;
        right: 15px; }
        .thumbnail.combo-option .caption > p:last-child:before,
        .thumbnail.combo-dish .caption > p:last-child:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1); }
  .thumbnail.combo-option .quantity-counter,
  .thumbnail.combo-dish .quantity-counter {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .thumbnail.combo-option .quantity-counter > a.btn-fab.btn-fab-nano i,
    .thumbnail.combo-dish .quantity-counter > a.btn-fab.btn-fab-nano i {
      -webkit-transform: translate(-6px, -7px);
      -moz-transform: translate(-6px, -7px);
      -ms-transform: translate(-6px, -7px);
      transform: translate(-6px, -7px); }
    .thumbnail.combo-option .quantity-counter .quantity,
    .thumbnail.combo-dish .quantity-counter .quantity {
      padding: 0px 5px;
      vertical-align: middle; }

.combo-option-row {
  font-size: 0;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center; }
  .combo-option-row > *:not(:first-child) {
    padding-left: 5px; }
  .combo-option-row > *:not(:last-child) {
    padding-right: 5px; }
  .combo-option-row .combo-option-wrapper {
    white-space: normal;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    max-width: 33.33333%;
    overflow: hidden; }
    .combo-option-row .combo-option-wrapper .thumbnail.combo-option {
      margin-bottom: 0;
      position: relative; }
      .combo-option-row .combo-option-wrapper .thumbnail.combo-option.selected .caption .btn-select-combo-option {
        display: none; }
      .combo-option-row .combo-option-wrapper .thumbnail.combo-option:not(.selected):before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.1); }
      .combo-option-row .combo-option-wrapper .thumbnail.combo-option:not(.selected) .caption .quantity-counter {
        display: none; }
      .combo-option-row .combo-option-wrapper .thumbnail.combo-option > img {
        width: 100%;
        height: auto; }
      .combo-option-row .combo-option-wrapper .thumbnail.combo-option .caption {
        margin-bottom: 40px; }
        .combo-option-row .combo-option-wrapper .thumbnail.combo-option .caption .btn-select-combo-option {
          position: absolute; }
        .combo-option-row .combo-option-wrapper .thumbnail.combo-option .caption .btn-add-extra {
          float: right; }

.thumbnail.combo-dish {
  clear: both;
  overflow: auto; }
  .thumbnail.combo-dish > img {
    height: 240px;
    width: 320px;
    float: left; }
  .thumbnail.combo-dish .caption {
    height: 240px;
    margin-left: 320px;
    padding-bottom: 55px;
    position: relative; }

@media (max-width: 672px) {
  .combo-option-row .combo-option-wrapper {
    max-width: inherit; }

  .thumbnail.combo-dish {
    overflow: inherit;
    position: relative; }
    .thumbnail.combo-dish > img {
      float: none;
      height: auto;
      width: 100%; }
    .thumbnail.combo-dish .caption {
      position: static;
      height: auto;
      margin-left: 0; } }
.add-to-cart-wrapper {
  text-align: center; }
/*CSS for combo-description ends*/
