/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require angularjs-toaster/toaster
 *= require bootstrap-material-design
 *= require ripples
 *= require material_icons
 *= require material-icons
 *= require foodmash-fonts
 *= require animate
 *= require_self
 */

$bg-general: #F5F5F5;
$logo-white-text: rgba(255,255,255,1);
$logo-red-text: rgba(255,10,0,1);
$logo-red: rgba(200,10,0,1);

$white: rgba(255,255,255,1);
$heading-grey: rgb(221, 221, 221);
$highlight-blue: rgba(239,249,255,1);

$success-green: #349C27;
$success-green-light: #77C16E;

$mild-blue: rgba(219,233,255,1);
$mild-blue-dark: rgba(186,203,235,1);

$veg-green: #008E07;
$non-veg-red: #d21a00;
$egg-yellow: #E6CA10;
$ambiguous-violet: #822fe6;

@font-face {
  font-family: 'Segoe UI';
  src: font-url("segoeui/segoeui.eot");
  /* IE9 Compat Modes */
  src: font-url("segoeui/segoeui.eot?#iefix") format("embedded-opentype"),
  font-url("segoeui/segoeui.woff") format("woff"),
  font-url("segoeui/segoeui.ttf") format("truetype"),
  font-url("segoeui/segoeui.svgz") format("svg"),
  font-url("segoeui/segoeui.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Segoe UI Light';
  src: font-url("segoeui/segoeuil.eot");
  /* IE9 Compat Modes */
  src: font-url("segoeui/segoeuil.eot?#iefix") format("embedded-opentype"),
  font-url("segoeui/segoeuil.woff") format("woff"),
  font-url("segoeui/segoeuil.ttf") format("truetype"),
  font-url("segoeui/segoeuil.svgz") format("svg"),
  font-url("segoeui/segoeuil.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Segoe UI Semibold';
  src: font-url("segoeui/segoeuisb.eot");
  /* IE9 Compat Modes */
  src: font-url("segoeui/segoeuisb.eot?#iefix") format("embedded-opentype"),
  font-url("segoeui/segoeuisb.woff") format("woff"),
  font-url("segoeui/segoeuisb.ttf") format("truetype"),
  font-url("segoeui/segoeuisb.svgz") format("svg"),
  font-url("segoeui/segoeuisb.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro';
  src: font-url("myriadpro/myriadpro.eot");
  /* IE9 Compat Modes */
  src: font-url("myriadpro/myriadpro.eot?#iefix") format("embedded-opentype"),
  font-url("myriadpro/myriadpro.woff") format("woff"),
  font-url("myriadpro/myriadpro.ttf") format("truetype"),
  font-url("myriadpro/myriadpro.svgz") format("svg"),
  font-url("myriadpro/myriadpro.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Condensed';
  src: font-url("myriadpro/myriadproc.eot");
  /* IE9 Compat Modes */
  src: font-url("myriadpro/myriadproc.eot?#iefix") format("embedded-opentype"),
  font-url("myriadpro/myriadproc.woff") format("woff"),
  font-url("myriadpro/myriadproc.ttf") format("truetype"),
  font-url("myriadpro/myriadproc.svgz") format("svg"),
  font-url("myriadpro/myriadproc.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: font-url("myriadpro/myriadprosb.eot");
  /* IE9 Compat Modes */
  src: font-url("myriadpro/myriadprosb.eot?#iefix") format("embedded-opentype"),
  font-url("myriadpro/myriadprosb.woff") format("woff"),
  font-url("myriadpro/myriadprosb.ttf") format("truetype"),
  font-url("myriadpro/myriadprosb.svgz") format("svg"),
  font-url("myriadpro/myriadprosb.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: font-url("myriadpro/myriadprosb.eot");
  /* IE9 Compat Modes */
  src: font-url("myriadpro/myriadprosb.eot?#iefix") format("embedded-opentype"),
  font-url("myriadpro/myriadprosb.woff") format("woff"),
  font-url("myriadpro/myriadprosb.ttf") format("truetype"),
  font-url("myriadpro/myriadprosb.svgz") format("svg"),
  font-url("myriadpro/myriadprosb.svg") format("svg");
  /* Legacy iOS */ }


html {
  height: 100%;
  padding: 50px 0 0 0;
  margin: 0;
}
body {
  .bg { background: image-url("bg.png"); }
  position: relative;
  background-color: #F5F5F5;
  height: 100%;
  padding: 15px 0 0 0;
  color:#111;
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  font-size: 15px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3 { font-family: "Segoe UI Light", sans-serif; }
h4, h5, h6 { font-family: "Segoe UI", sans-serif }
nav.navbar { font-family: "Myriad Pro", sans-serif; }
.btn { font-family: "Myriad Pro", sans-serif; }
.input-group { font-family: "Myriad Pro", sans-serif; }

a { color: #999; cursor: pointer; }
a:hover { color: #111; }
a:focus { outline:none; border:none; }

ul.dropdown-menu a {
  padding: 5px 20px;
  .fa.pull-right {
    line-height: 1.2;
    font-size: 15px;
    margin: 2px;
  }
}
h1,h2,h3 {	font-weight: 100; }
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: image-url('logo_loading.gif') 50% 50% no-repeat #111;
}

.logo-white { color: $logo-white-text !important; }
.logo-red { color: $logo-red-text !important; }

.btn {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.fa-prepend { padding-right: 5px; }
.fa-append { padding-left: 5px; }
.popover-title { color: #111; border-radius: 0; }
.popover-content { line-height: 1.4; }
.margin-zero { margin:0; }
.padding-zero { padding:0; }

.icon-label.veg { color: $veg-green; }
.icon-label.egg { color: $egg-yellow; }
.icon-label.non-veg { color: $non-veg-red; }
.icon-label.non-veg.veg,
.icon-label.non-veg.veg.egg { color: $ambiguous-violet; }

.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }

/*Navbar*/
.navbar-inverse { background-color: #222 !important; }
.navbar {
  i.fa { font-size: 18px; margin: 0 2px; }
  .navbar-brand {
    margin-left: 0 !important;
    padding-left: 50px;
    > img {
      height: 50px;
      width: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
  .navbar-nav > .active:after {
    content: "";
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 20px;
    margin: auto;
    border-top: 20px solid #080808;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .navbar-search-form {
    margin-top: 11px;
    .form-group {
      position: relative;
      .input-search-icon {
        font-size: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
      }
      .form-control.input-search {
        margin-left: 25px;
        font-size: 18px;
        background: none;
        &::-moz-placeholder { line-height: -moz-block-height; }
      }
    }
  }
}

@media(max-width:767px) {
  .navbar {
    margin-bottom: 0;
    .nav.navbar-nav { margin: 0; }
    .username, .cart { display:none; }
    .navbar-search-form { margin:0; display: inline-block; }
    // .input-search { display: inline-block; width: 90%; }
    .navbar-header ul.pull-left li.dropdown.pull-left {
      ul.dropdown-menu {
        float: right;
        clear: right;
        position: absolute;
        width: 200px;
        left: -50px;
        background-color: #080808;
      }
      a.dropdown-toggle {
        display: inline-block;
        float: right;
      }
    }
  }
}

@media(max-width: 499px) { .navbar-search-wrapper { display: none; } }
@media(min-width: 500px) { .sidebar-search-wrapper { display: none; } }
@media(max-width: 435px) { .navbar-header.pull-right > ul > li > a { padding-left: 10px; padding-right: 10px; } }
@media(max-width: 319px) { .navbar-brand > span { display: none; } }

.label-cart {
  background-color: $logo-red !important;
  vertical-align: text-bottom;
  padding: .35em .6em .4em;
  display: inline-block;
  .rupee { color: rgba(255,255,255,0.85); font-size: 10px; }
}
/*Navbar*/


.content-layout {
  min-height: 100%;
  padding-bottom: 30px;
}

/*Footer*/
footer {
  padding: 10px 35px 10px 20px;
  text-align: center;
  font-family: "Myriad Pro";
  background-color: #222;
  color: #EEE;
  font-size: 12px;
  position: relative;
  > div.footer-social-links {
    padding: 5px;
    > span {
      padding: 5px;
      > i {
        font-size: 17px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
  > div.footer-links {
    padding: 5px;
    > span {
      &:hover { cursor: pointer; }
      &:not(:last-child):after {
        content: " | ";
        cursor: none;
      }
    }
  }
  > span { display: inline-block; }
  .btn-fab.back-to-top {
    border: 1px solid rgba(255,255,255,0.5);
    position: fixed;
    right: 7.5px;
    bottom: 7.5px;
    &:hover {
      background-color: #666;
    }
  }
}
/*Footer*/

/*CSS for admin panel starts*/
.table-panel {
  thead > tr { background-color: $heading-grey; }
  tr {
    th {
      &.th-xs { width: 40px; }
      &.th-sm { width: 80px; }
    }
    td {
      input.form-control {
        padding: 0;
        margin: -10px 0;
        border: 0;
        outline: 0;
        box-shadow: none;
        background: none;
      }
    }
    th,td {
      a {
        &.dropdown-toggle {
          margin-bottom: 7px;
          color: rgba(85,85,85,1);
          display: block;
          font-size: 16px;
          position: relative;
        }
        &:hover {text-decoration: none;}
      }
      .form-group {
        > span.dropdown { position: static; }
        position: relative;
        ul {
          background-color: #444;
          font-weight: 100;
          font-size: 14px;
          padding: 5px 0;
          color: #EEE;
          border-radius: 5px;
          list-style-type: none;
          position: absolute;
          top: 25px;
          left: 0;
          > li {
            cursor: default;
            padding: 10px 15px;
            &:hover {
              background-color: rgba(255,255,255,0.1);
            }
          }
        }
      }
      > .label-floating {
        padding: 0;
        margin: 0 0 -7px 0;
        > label {
          font-weight: inherit;
          color: inherit;
        }
        > input {
          margin: 0;
          padding: 0;
          margin-bottom: -7px;
          background: none !important;
        }
      }
    }
    &.expanded {
      background-color: transparent !important;
      table { margin:0; background-color: transparent !important; }
      > td {
        padding: 0;
        border: 0;
        background-color: transparent !important;
      }
      tr:nth-child(2n){ background-color: rgba(232,244,232,1); }
    }
    i {
      transition: all 0.3s ease-in-out;
      &:hover { color: $logo-red;}
    }
    &:nth-child(2n){ background-color: rgba(239,249,255,1); }
  }
}
/*CSS for admin panel ends*/

/*CSS for cart starts*/
.table-cart, .table-addresses {
  tbody {
    tr {
      div.combo {
        span { display: inline-block; }
        span:not(.combo-name) { display:block; font-size: 12px; }
      }
    }
  }
}
.table-cart {
  tbody {
    tr {
      td.td-empty {
        background-color: transparent !important;
        > img { width: 100%; padding: 40px 0; }
      }
      .quantity-counter {
        .quantity { padding: 0px 2px; vertical-align: middle; }
      }
    }
  }
  tfoot {
    tr:first-child {
      border-top: 2px solid rgba(128,128,128,0.15);
      border-bottom: 2px solid rgba(128,128,128,0.15);
      background-color: $mild-blue;
      font-weight: 100;
    }
    tr:last-child {
      border-top: 2px solid rgba(128,128,128,0.15);
      border-bottom: 2px solid rgba(128,128,128,0.15);
      background-color: $success-green;
      color: #FFF;
      font-weight: 100;
    }
  }
}
.table-addresses {
  tbody {
    tr {
      div.new-address {
        > * { font-size: 12px; }
        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          display:block;
          &:first-child { font-size: 15px; }
        }
      }
    }
    tr.active {
      background-color: rgba(219,233,255,1);
      td {
        i.fa { color: $success-green; }
        background-color: transparent;
      }
    }
  }
}
.delivery-information {
  .user-email-wrapper {
    i { padding: 13px; }
    .user-email {}
  }
  .user-phone-wrapper {
    margin-bottom: 10px;
    i { padding: 13px; }
    .user-phone-prefix { width:30px; }
    .user-phone, .user-phone-prefix {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.promo-code-wrapper-row {
  text-align: center;
  .promo-code-wrapper {
    text-align: left;
    width: 300px;
    margin: 20px;
    display: inline-block;
  }
}

.proceed-to-pay-wrapper {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
/*CSS for cart ends*/

/*CSS for index*/
.loader {
  background: #111;
  div.loader-wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    a { color: #CCC; }
    a:hover, a:focus, a:active { color: #FFF; text-decoration:none; background-color: transparent; }
    > *:not(:first-child) { margin-top: 20px; }
    .choose-delivery-location-wrapper {
      margin-top: 20px;
      color: #CCC;
      > *:not(:last-child) { margin-right: 5px; }
      > .dropdown {
        font-size: 20px;
        > .dropdown-menu {
          li {
            a { color: #111; }
            a:hover { color: #000; background-color: #DDD;}
          }
          margin-top: 10px;
          right: 0;
          bottom: 40px;
          top: inherit;
        }
      }
    }
  }
}

.thumbnail.combo-card {
  position: relative;
  -webkit-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  .img-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    > .combo-price {
      > .rupee { font-size: 12px; }
      font-family: "Myriad Pro";
      padding: 5px 15px;
      position: absolute;
      top: 0;
      right: 20px;
      z-index: 2;
      background-color: #333;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
      color: #f5f5f5;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    > img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  .caption {
    padding: 15px;
    margin-bottom: 40px;
    > ul.combo-contents {
      padding: 0;
      list-style-type: none;
      > li {
        > * {
          display: inline-block;
          vertical-align: middle;
        }
        i.icon-label {
          transform: translateY(2px);
        }
      }
    }
    > div.restaurant-logo-wrapper {
      margin-bottom: 10px;
      > img.restaurant-logo {
        &:last-child { margin-right: 0; }
        margin-right: 10px;
        width: auto;
        height: 30px;
      }
    }
    > p {
      font-size: 13px;
      &:last-child {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
  .quantity-counter {
    > a.btn-fab.btn-fab-nano i {
      -webkit-transform: translate(-6px,-7px);
      -moz-transform: translate(-6px,-7px);
      -ms-transform: translate(-6px,-7px);
      transform: translate(-6px,-7px);
    }
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .quantity { padding: 0px 5px; vertical-align: middle }
  }
}
@media(min-width: 991px) and (max-width:1199px) {
  .thumbnail.combo-card .caption p:last-child a.btn {
    padding: 5px;
  }
}
/*CSS for index*/

/*CSS for order history*/
.table-order-history {
  tr {
    i {
      transition: all 0.3s ease-in-out;
      &:hover { color: $logo-red;}
    }
    th > .label-floating {
      padding: 0;
      margin: 0 0 -7px 0;
      > label {
        font-weight: inherit;
        color: inherit;
      }
      > input {
        margin: 0;
        padding: 0;
        margin-bottom: -7px;
        background: none !important;
      }
    }
    &:nth-child(2n){ background-color: $highlight-blue; }
  }
  tbody {
    tr.active {
      position: relative;
      background-color: #333; color: #FFF;
      td { background-color: transparent; }
      &:hover {
        td { background-color: transparent; }
        background-color: #666;
      }
    }
    tr:last-child {
      text-align:center;
      &:hover { background-color: #444; color: #FFF; td span { color: #FFF; } }
      &:active { background-color: #333; color: #FFF; }
      td span { color: $logo-red-text; }
    }
  }
}
.order-description {
  padding: 20px;
  h3, .order-status-wrapper {
    text-align: center;
    .order-status { font-weight: bold; }
  }
  .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align-last: justify;
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0,0,0,0.3);
    }
    i.fa.completed { background-color: #FFF; color: #111;}
    z-index: 2;
    .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1;
      .progress-bar {
        background-color: $success-green;
        border-radius: 15px;
      }
    }
  }
  .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    span { display: inline-block; }
    .order-date {
      font-weight: bold;
      &:before { font-weight:100; content: "Date: "; }
      .order-time { font-weight: 100; }
    }
    .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold;
      &:before { font-weight:100; content: "Total amount: "; }
      .order-amount:before { content: "Rs."; }
    }
  }
  .table-order-description {
    tbody {
      tr {
        div.combo {
          span { display: inline-block; }
          span:not(.combo-name) { display:block; font-size: 12px; }
        }
      }
    }
    tfoot {
      tr:first-child {
        border-top: 2px solid rgba(128,128,128,0.15);
        border-bottom: 2px solid rgba(128,128,128,0.15);
        background-color: $success-green-light;
        color: #FFF;
        font-weight: 100;
      }
      tr:last-child:not(.additional-notes-wrapper) {
        border-top: 2px solid rgba(128,128,128,0.15);
        border-bottom: 2px solid rgba(128,128,128,0.15);
        background-color: $success-green;
        color: #FFF;
        font-weight: 100;
      }
    }
  }
}
@media(max-width:767px) { .order-history { padding: 0; } }
/*CSS for order history*/


/*CSS for packaging panel begins*/
.table-order-history {
  tr {
    i {
      transition: all 0.3s ease-in-out;
      &:hover { color: $logo-red;}
    }
    th > .label-floating {
      padding: 0;
      margin: 0 0 -7px 0;
      > label {
        font-weight: inherit;
        color: inherit;
      }
      > input {
        margin: 0;
        padding: 0;
        margin-bottom: -7px;
        background: none !important;
      }
    }
    td {
      .order-time { font-size: 14px; }
    }
    &:nth-child(2n){ background-color: $highlight-blue; }
  }
  tbody {
    tr.active {
      position: relative;
      background-color: #333; color: #FFF;
      td { background-color: transparent; }
      &:hover {
        td { background-color: transparent; }
        background-color: #666;
      }
    }
    tr:last-child {
      text-align:center;
      &:hover { background-color: #444; color: #FFF; td span { color: #FFF; } }
      &:active { background-color: #333; color: #FFF; }
      td span { color: $logo-red-text; }
    }
  }
}
.order-description {
  padding: 20px;
  h3, .order-status-wrapper,
  .order-status-update-wrapper,
  .order-time-elapsed-wrapper,
  .customer-contact-wrapper,
  .customer-email-wrapper {
    text-align: center;
    .order-status,
    .order-time-elapsed,
    .customer-email,
    .customer-contact { font-weight: bold; }
  }
  .order-time-elapsed-wrapper,
  .customer-email-wrapper { margin-bottom: 30px; }
  .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0,0,0,0.3);
    }
    i.fa.completed { background-color: #FFF; color: #111;}
    z-index: 2;
    .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1;
      .progress-bar {
        background-color: $success-green;
        border-radius: 15px;
      }
    }
  }
  .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    span { display: inline-block; }
    .order-date {
      font-weight: bold;
      &:before { font-weight:100; content: "Date: "; }
      .order-time { font-weight: 100; }
    }
    .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold;
      &:before { font-weight:100; content: "Total amount: "; }
      .order-amount:before { content: "Rs."; }
    }
  }
  .restaurant-order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    span { display: inline-block; }
    .restaurant-name {
      font-weight: bold;
      &:before { font-weight:100; content: "Restaurant: "; }
      .restaurant-branch { font-weight: 100; }
    }
    .restaurant-contact-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold;
      &:before { font-weight:100; content: "Ph: "; }
    }
  }
  .table-order-description {
    tbody {
      tr {
        div.combo {
          span { display: inline-block; }
          span:not(.combo-name) { display:block; font-size: 12px; }
        }
      }
    }
    tfoot {
      tr:first-child {
        border-top: 2px solid rgba(128,128,128,0.15);
        border-bottom: 2px solid rgba(128,128,128,0.15);
        background-color: $success-green-light;
        color: #FFF;
        font-weight: 100;
      }
      tr:last-child:not(.additional-notes-wrapper) {
        border-top: 2px solid rgba(128,128,128,0.15);
        border-bottom: 2px solid rgba(128,128,128,0.15);
        background-color: $success-green;
        color: #FFF;
        font-weight: 100;
      }
      tr.additional-notes-wrapper {
        td[colspan='4'] {
          padding: 20px;
          text-align: center;
          span { display: inline-block; vertical-align: middle; }
          span i { font-size: 30px; }
        }
      }
    }
  }
}
/*CSS for packaging panel ends*/

/*CSS for restaurant panel begins*/
.table-restaurant-panel {
  tr {
    i {
      transition: all 0.3s ease-in-out;
      &:hover { color: $logo-red;}
    }
    th > .label-floating {
      padding: 0;
      margin: 0 0 -7px 0;
      > label {
        font-weight: inherit;
        color: inherit;
      }
      > input {
        margin: 0;
        padding: 0;
        margin-bottom: -7px;
        background: none !important;
      }
    }
    &:nth-child(2n){ background-color: $highlight-blue; }
  }
  tbody {
    tr.active {
      position: relative;
      background-color: #333; color: #FFF;
      td { background-color: transparent; }
      &:hover {
        td { background-color: transparent; }
        background-color: #666;
      }
    }
  }
}
.order-description {
  padding: 20px;
  h3, .order-status-wrapper,
  .order-status-update-wrapper,
  .order-time-elapsed-wrapper  {
    text-align: center;
    .order-status, .order-time-elapsed { font-weight: bold; }
  }
  .order-time-elapsed-wrapper { margin-bottom: 30px; }
  .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0,0,0,0.3);
    }
    i.fa.completed { background-color: #FFF; color: #111;}
    z-index: 2;
    .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1;
      .progress-bar {
        background-color: $success-green;
        border-radius: 15px;
      }
    }
  }
  .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    span { display: inline-block; }
    .order-date {
      font-weight: bold;
      &:before { font-weight:100; content: "Date: "; }
      .order-time { font-weight: 100; }
    }
    .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold;
      &:before { font-weight:100; content: "Total amount: "; }
      .order-amount:before { content: "Rs."; }
    }
  }
  .table-order-description {
    tfoot {
      tr:first-child {
        border-top: 2px solid rgba(128,128,128,0.15);
        border-bottom: 2px solid rgba(128,128,128,0.15);
        background-color: $success-green;
        color: #FFF;
        font-weight: 100;
      }
      tr.additional-notes-wrapper td[colspan='4']{
        padding: 30px;
        text-align: center;
        span { display: inline-block; vertical-align: middle; }
        span i { font-size: 30px; }
      }
    }
  }
}
/*CSS for restaurant panel ends*/


/*CSS for profile begins*/
.user-info {
  div {
    i { padding: 13px; }
    .user-phone-prefix { width:30px; }
    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
  }
  > *:last-child { margin-bottom: 20px; }
}
.table-addresses {
  thead {
    tr {
      div.new-address {
        > * { font-size: 12px; }
        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          display:block;
          &:first-child { font-size: 15px; }
        }
      }
    }
  }
  tbody {
    tr {
      div.combo {
        span { display: inline-block; }
        span:not(.combo-name) { display:block; font-size: 12px; }
      }
    }
    tr.active {
      background-color: rgba(219,233,255,1);
      td {
        i.fa { color: $success-green; }
        background-color: transparent;
      }
    }
  }
}
/*CSS for profile ends*/

/*Signin and Register*/
.btn-login, .btn-register { padding: 10px 40px; font-size: 17px; }
.login-checkbox, .register-checkbox { padding: 10px 0; }
.login-wrapper, .register-wrapper {
  padding: 20px;
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  text-align-last: justify;
  > * { display:inline-block; }
}
@media(max-width:550px) {
  .login-wrapper,.register-wrapper {
    text-align: none;
    > * { display: table; margin: 0 auto 30px;}
  }
}
/*Signin and Register*/

/*CSS for sidebar begins*/
.sidebar-wrapper {
  overflow-y: auto;
  font-family: "Myriad Pro";
  color: #CCC;
  width: 150px;
  background-color: #333333;
  position: fixed;
  z-index: 199;
  top: 50px;
  left: 0px;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  section {
    &.location-section {
      a { color: #CCC; }
      a:hover { color: #FFF; text-decoration:none; background-color: transparent; }
      padding: 15px 15px;
      > i { margin-right: 5px; }
      > ul {
        padding: 0;
        display: inline-block;
        list-style-type: none;
        margin: 0;
      }
      .location-dropdown {
        color: #CCC;
        position: relative;
        ul.dropdown-menu {
          margin-top: 5px;
          float: right;
          clear: right;
          position: absolute;
          left: -20px;
          background-color: #080808;
          li a { padding: 10px 20px; }
        }
      }
    }

    .sidebar-search-wrapper {
      padding: 0 10px;
      > .form-group {
        margin: 0;
        padding:5px 0;
      }
      .input-search {
        display: inline-block;
        width: calc(100% - 30px);
        background: none;
        color: #FFF;
        padding: 0;
        margin: 0;
      }
    }
    > h5 {
      font-family: "Myriad Pro Semibold";
      padding: 10px 20px 12px 20px;
      margin: 10px 0 0 0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: rgba(255,255,255,0.2);
      }
    }
    > ul.sidebar-nav {
      padding: 0;
      font-size: 13px;
      list-style-type: none;
      > li.active a {
        background-color: rgba(0,0,0,0.5);
        color: #FFF;
        &:before {
          left: 0;
          background-color: $logo-red;
        }
      }
      > li {
        > a {
          display: block;
          padding: 10px 15px;
          &:hover {
            text-decoration: none;
            color: inherit;
            > span { transform: translateX(5px); }
          }
          > span {
            display: inline-block;
            transition: all 0.3s ease-in-out;
          }
          > i.fa, i.material-icons, i[class*='icon-'] { padding:3px; }
          > .label.pull-right { margin:2px; }
          position: relative;
          &:hover {
            &:before { left: 0; }
            background-color: rgba(0,0,0,0.3);
            color: #FFF;
          }
          &:before {
            content: "";
            position: absolute;
            left: -3px;
            top: 0;
            bottom: 0;
            width: 3px;
            background-color: transparent;
            transition: background-color 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
@media(max-width:435px) {
  body.sidebar-body { padding-left: 0 }
  .sidebar-wrapper { left: -200px; width: 200px; }
}
@media(min-width:436px) {
  body.sidebar-body { padding-left: 150px; }
  .sidebar-wrapper { width: 150px; }
  .sidebar-options-wrapper { display:none; }
}
@media(min-width:530px) {
  body.sidebar-body { padding-left: 200px; }
  .sidebar-wrapper { width: 200px; }
}
@media(min-width:768px) {
  body.sidebar-body { padding-left:150px; }
  .sidebar-wrapper { top: 50px; width:150px; }
  .sidebar-wrapper + .container { width: 600px }
  .navbar-search-form { padding: 0; }
}
@media(min-width:880px) {
  body.sidebar-body { padding-left:200px; }
  .sidebar-wrapper { width: 200px; }
}
@media(min-width:992px) {
  body.sidebar-body { padding-left:150px }
  .sidebar-wrapper { width: 150px }
  .sidebar-wrapper + .container { width: 820px }
}
@media(min-width:1050px) {
  body.sidebar-body { padding-left:200px; }
  .sidebar-wrapper { width: 200px; }
}
@media (min-width: 1200px) {
  body.sidebar-body { padding-left:150px }
  .sidebar-wrapper { width: 150px }
  .sidebar-wrapper + .container { width: 1020px; }
}
@media (min-width: 1300px) {
  body.sidebar-body { padding-left: 200px; }
  .sidebar-wrapper { width: 200px; }
}

//Disable hover for smaller devices
@media (max-width: 768px) {
  .sidebar-wrapper section > ul.sidebar-nav > li
  {
    &.active {
      a:hover {
        background-color: rgba(0, 0, 0, 0.50);
        color: #FFF;
      }
    }
    > a:hover {
      background-color: inherit;
      color: inherit;
      > span { transform: translateX(0px); }
    }
  }
}

.sidebar-wrapper.slide-and-hide { left:-200px !important; }
.sidebar-wrapper.slider-open { left:0px; }
/*CSS for sidebar ends*/

/*CSS for combo-description begins*/
.thumbnail.combo-option,
.thumbnail.combo-dish {
  padding: 0;
  -webkit-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  .caption {
    padding: 15px;
    > h4 {
      > * { display: inline-block; }
      > i.icon-label {
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
        transform: translateY(2px);
      }
    }
    > p {
      font-size: 13px;
      &:last-child {
        text-align: right;
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .restaurant-logo-wrapper {
    float: left;
    padding: 10px;
    > .restaurant-logo {
      width: auto;
      height: 30px;
    }
  }
  .quantity-counter {
    display: inline-block;
    padding: 15px;
    > a.btn-fab.btn-fab-nano i {
      -webkit-transform: translate(-6px,-7px);
      -moz-transform: translate(-6px,-7px);
      -ms-transform: translate(-6px,-7px);
      transform: translate(-6px,-7px);
    }
    .quantity { padding: 0px 5px; vertical-align: middle }
  }
}

.combo-option-row {
  font-size: 0;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
  > *:not(:first-child) { padding-left: 5px; }
  > *:not(:last-child) { padding-right: 5px; }
  .combo-option-wrapper {
    white-space: normal;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    width: 100%;
    max-width: 33.33333%;
    overflow: hidden;
    .thumbnail.combo-option {
      &.selected .caption { .btn-select-combo-option { display: none; } }
      &:not(.selected) {
        &:before {
          content: "";
          position:absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.1);
        }
        .caption { .quantity-counter { display: none; } }
      }
      > .img-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
      }
      margin-bottom: 5px;
      position: relative;
      .caption {
        margin-bottom: 40px;
        .btn-select-combo-option { position: absolute; }
        .btn-add-extra { float: right; }
      }
    }
  }
}

.thumbnail.combo-dish {
  clear: both;
  overflow: auto;
  > .img-wrapper {
    position: relative;
    width: 320px;
    height: 240px;
    overflow: hidden;
    float: left;
    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  .caption {
    height: 240px;
    margin-left: 320px;
    padding-bottom: 55px;
    position: relative;
  }
}

@media(max-width: 672px) {
  .combo-option-row {
    .combo-option-wrapper {
      max-width: inherit;
    }
  }
  .thumbnail.combo-dish {
    overflow: inherit;
    position: relative;
    > .img-wrapper {
      float: none;
      width: 100%;
    }
    .caption {
      position: static;
      height: auto;
      margin-left: 0;
    }
  }
}

.add-to-cart-wrapper { text-align: center; }
/*CSS for combo-description ends*/

/*CSS for legalese ends*/
.thumbnail.legalese {
  padding: 20px;
  -webkit-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.10);
  -ms-box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.10);
  > h3 {
    font-family: "Myriad Pro";
    position: relative;
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      bottom: -15px;
      left: 0;
    }
  }
  .caption { padding: 20px 9px 9px 9px; }
}
/*CSS for legalese ends*/


