@font-face {
  font-family: 'Segoe UI';
  src: url("segoeui/segoeui.eot");
  /* IE9 Compat Modes */
  src: url("segoeui/segoeui.eot?#iefix") format("embedded-opentype"), url("segoeui/segoeui.woff") format("woff"), url("segoeui/segoeui.ttf") format("truetype"), url("segoeui/segoeui.svgz") format("svg"), url("segoeui/segoeui.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Segoe UI Light';
  src: url("segoeui/segoeuil.eot");
  /* IE9 Compat Modes */
  src: url("segoeui/segoeuil.eot?#iefix") format("embedded-opentype"), url("segoeui/segoeuil.woff") format("woff"), url("segoeui/segoeuil.ttf") format("truetype"), url("segoeui/segoeuil.svgz") format("svg"), url("segoeui/segoeuil.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("segoeui/segoeuisb.eot");
  /* IE9 Compat Modes */
  src: url("segoeui/segoeuisb.eot?#iefix") format("embedded-opentype"), url("segoeui/segoeuisb.woff") format("woff"), url("segoeui/segoeuisb.ttf") format("truetype"), url("segoeui/segoeuisb.svgz") format("svg"), url("segoeui/segoeuisb.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro';
  src: url("myriadpro/myriadpro.eot");
  /* IE9 Compat Modes */
  src: url("myriadpro/myriadpro.eot?#iefix") format("embedded-opentype"), url("myriadpro/myriadpro.woff") format("woff"), url("myriadpro/myriadpro.ttf") format("truetype"), url("myriadpro/myriadpro.svgz") format("svg"), url("myriadpro/myriadpro.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Condensed';
  src: url("myriadpro/myriadproc.eot");
  /* IE9 Compat Modes */
  src: url("myriadpro/myriadproc.eot?#iefix") format("embedded-opentype"), url("myriadpro/myriadproc.woff") format("woff"), url("myriadpro/myriadproc.ttf") format("truetype"), url("myriadpro/myriadproc.svgz") format("svg"), url("myriadpro/myriadproc.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: url("myriadpro/myriadprosb.eot");
  /* IE9 Compat Modes */
  src: url("myriadpro/myriadprosb.eot?#iefix") format("embedded-opentype"), url("myriadpro/myriadprosb.woff") format("woff"), url("myriadpro/myriadprosb.ttf") format("truetype"), url("myriadpro/myriadprosb.svgz") format("svg"), url("myriadpro/myriadprosb.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: url("myriadpro/myriadprosb.eot");
  /* IE9 Compat Modes */
  src: url("myriadpro/myriadprosb.eot?#iefix") format("embedded-opentype"), url("myriadpro/myriadprosb.woff") format("woff"), url("myriadpro/myriadprosb.ttf") format("truetype"), url("myriadpro/myriadprosb.svgz") format("svg"), url("myriadpro/myriadprosb.svg") format("svg");
  /* Legacy iOS */ }
html {
  height: 100%;
  padding: 50px 0 0 0;
  margin: 0; }

body {
  position: relative;
  background-color: #F5F5F5;
  height: 100%;
  padding: 15px 0 0 0;
  color: #111;
  font-family: "Segoe UI", sans-serif;
  font-weight: 100;
  font-size: 15px;
  transition: all 1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1, h2, h3 {
  font-family: "Segoe UI Light", sans-serif; }

h4, h5, h6 {
  font-family: "Segoe UI", sans-serif; }

nav.navbar {
  font-family: "Myriad Pro", sans-serif; }

.btn {
  font-family: "Myriad Pro", sans-serif; }

.input-group {
  font-family: "Myriad Pro", sans-serif; }

a {
  color: #999;
  cursor: pointer; }

a:hover {
  color: #111; }

a:focus {
  outline: none;
  border: none; }

ul.dropdown-menu a {
  padding: 5px 20px; }
  ul.dropdown-menu a .fa.pull-right {
    line-height: 1.2;
    font-size: 15px;
    margin: 2px; }

h1, h2, h3 {
  font-weight: 100; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/logo_loading.gif") 50% 50% no-repeat #111; }

.logo-white {
  color: white !important; }

.logo-red {
  color: #ff0a00 !important; }

.btn {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.fa-prepend {
  padding-right: 5px; }

.fa-append {
  padding-left: 5px; }

.popover-title {
  color: #111;
  border-radius: 0; }

.popover-content {
  line-height: 1.4; }

/*Navbar*/
.navbar-inverse {
  background-color: #222 !important; }

.navbar i.fa {
  font-size: 18px;
  margin: 0 2px; }
.navbar .navbar-brand {
  padding-left: 50px; }
  .navbar .navbar-brand > img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; }
.navbar .navbar-nav > .active:after {
  content: "";
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 20px;
  margin: auto;
  border-top: 20px solid #080808;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent; }
.navbar .navbar-search-form {
  margin-top: 11px; }
  .navbar .navbar-search-form .form-group {
    position: relative; }
    .navbar .navbar-search-form .form-group .input-search-icon {
      font-size: 20px;
      position: absolute;
      top: 0;
      bottom: 0; }
    .navbar .navbar-search-form .form-group .form-control.input-search {
      margin-left: 25px;
      font-size: 18px;
      background: none; }
      .navbar .navbar-search-form .form-group .form-control.input-search::-moz-placeholder {
        line-height: -moz-block-height; }

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0; }
    .navbar .nav.navbar-nav {
      margin: 0; }
    .navbar .username, .navbar .cart {
      display: none; }
    .navbar .navbar-search-form {
      margin: 0;
      display: inline-block; }
    .navbar .navbar-header ul.pull-left li.dropdown.pull-left ul.dropdown-menu {
      float: right;
      clear: right;
      position: absolute;
      width: 200px;
      left: -50px;
      background-color: #080808; }
    .navbar .navbar-header ul.pull-left li.dropdown.pull-left a.dropdown-toggle {
      display: inline-block;
      float: right; } }
@media (max-width: 499px) {
  .navbar-search-wrapper {
    display: none; } }
@media (min-width: 500px) {
  .sidebar-search-wrapper {
    display: none; } }
@media (max-width: 319px) {
  .navbar-brand > span {
    display: none; } }
.label-cart {
  background-color: #c80a00 !important;
  vertical-align: text-bottom;
  padding: .35em .6em .4em;
  display: inline-block; }
  .label-cart .rupee {
    color: rgba(255, 255, 255, 0.85);
    font-size: 10px; }

/*Navbar*/
/*Footer*/
footer {
  padding: 10px;
  text-align: center;
  font-family: "Myriad Pro";
  background-color: #222;
  color: #EEE;
  font-size: 12px; }
  footer .back-to-top {
    position: fixed !important;
    right: 10px;
    bottom: 10px; }
    footer .back-to-top:hover {
      background-color: #666; }

/*Footer*/
