.table-order-history tr i {
  transition: all 0.3s ease-in-out; }
  .table-order-history tr i:hover {
    color: #c80a00; }
.table-order-history tr th > .label-floating {
  padding: 0;
  margin: 0 0 -7px 0; }
  .table-order-history tr th > .label-floating > label {
    font-weight: inherit;
    color: inherit; }
  .table-order-history tr th > .label-floating > input {
    margin: 0;
    padding: 0;
    margin-bottom: -7px;
    background: none !important; }
.table-order-history tr td .order-time {
  font-size: 14px; }
.table-order-history tr:nth-child(2n) {
  background-color: #f0f0ff; }
.table-order-history tbody tr.active {
  position: relative;
  background-color: #333;
  color: #FFF;
  /*&:after {
  	content: "";
  	display: inline-block;
  	position: absolute;
  	right: -20px;
  	top: 0;
  	bottom: 0;
  	border-left: 10px solid #333;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;
  }*/ }
  .table-order-history tbody tr.active td {
    background-color: transparent; }
  .table-order-history tbody tr.active:hover {
    background-color: #666; }
    .table-order-history tbody tr.active:hover td {
      background-color: transparent; }
.table-order-history tbody tr:last-child {
  text-align: center; }
  .table-order-history tbody tr:last-child:hover {
    background-color: #444;
    color: #FFF; }
    .table-order-history tbody tr:last-child:hover td span {
      color: #FFF; }
  .table-order-history tbody tr:last-child:active {
    background-color: #333;
    color: #FFF; }
  .table-order-history tbody tr:last-child td span {
    color: #ff0a00; }

.order-description {
  padding: 20px; }
  .order-description h3, .order-description .order-status-wrapper,
  .order-description .order-status-update-wrapper,
  .order-description .order-time-elapsed-wrapper,
  .order-description .customer-contact-wrapper,
  .order-description .customer-email-wrapper {
    text-align: center; }
    .order-description h3 .order-status,
    .order-description h3 .order-time-elapsed,
    .order-description h3 .customer-email,
    .order-description h3 .customer-contact, .order-description .order-status-wrapper .order-status,
    .order-description .order-status-wrapper .order-time-elapsed,
    .order-description .order-status-wrapper .customer-email,
    .order-description .order-status-wrapper .customer-contact,
    .order-description .order-status-update-wrapper .order-status,
    .order-description .order-status-update-wrapper .order-time-elapsed,
    .order-description .order-status-update-wrapper .customer-email,
    .order-description .order-status-update-wrapper .customer-contact,
    .order-description .order-time-elapsed-wrapper .order-status,
    .order-description .order-time-elapsed-wrapper .order-time-elapsed,
    .order-description .order-time-elapsed-wrapper .customer-email,
    .order-description .order-time-elapsed-wrapper .customer-contact,
    .order-description .customer-contact-wrapper .order-status,
    .order-description .customer-contact-wrapper .order-time-elapsed,
    .order-description .customer-contact-wrapper .customer-email,
    .order-description .customer-contact-wrapper .customer-contact,
    .order-description .customer-email-wrapper .order-status,
    .order-description .customer-email-wrapper .order-time-elapsed,
    .order-description .customer-email-wrapper .customer-email,
    .order-description .customer-email-wrapper .customer-contact {
      font-weight: bold; }
  .order-description .order-time-elapsed-wrapper,
  .order-description .customer-email-wrapper {
    margin-bottom: 30px; }
  .order-description .order-status-meter-wrapper {
    margin: 20px 0 30px 0;
    position: relative;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify;
    z-index: 2; }
    .order-description .order-status-meter-wrapper i.fa {
      font-size: 20px;
      background-color: #444;
      color: #FFF;
      padding: 10px;
      border-radius: 40px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .order-description .order-status-meter-wrapper i.fa.completed {
      background-color: #FFF;
      color: #111; }
    .order-description .order-status-meter-wrapper .order-status-meter {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      height: 30px;
      border-radius: 15px;
      z-index: -1; }
      .order-description .order-status-meter-wrapper .order-status-meter .progress-bar {
        background-color: #349C27;
        border-radius: 15px; }
  .order-description .order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .order-header span {
      display: inline-block; }
    .order-description .order-header .order-date {
      font-weight: bold; }
      .order-description .order-header .order-date:before {
        font-weight: 100;
        content: "Date: "; }
      .order-description .order-header .order-date .order-time {
        font-weight: 100; }
    .order-description .order-header .order-amount-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .order-header .order-amount-wrapper:before {
        font-weight: 100;
        content: "Total amount: "; }
      .order-description .order-header .order-amount-wrapper .order-amount:before {
        content: "Rs."; }
  .order-description .restaurant-order-header {
    margin-bottom: 10px;
    -webkit-text-align: justify;
    -moz-text-align: justify;
    -ms-text-align: justify;
    text-align-last: justify; }
    .order-description .restaurant-order-header span {
      display: inline-block; }
    .order-description .restaurant-order-header .restaurant-name {
      font-weight: bold; }
      .order-description .restaurant-order-header .restaurant-name:before {
        font-weight: 100;
        content: "Restaurant: "; }
      .order-description .restaurant-order-header .restaurant-name .restaurant-branch {
        font-weight: 100; }
    .order-description .restaurant-order-header .restaurant-contact-wrapper {
      -webkit-text-align: auto;
      -moz-text-align: auto;
      -ms-text-align: auto;
      text-align-last: auto;
      font-weight: bold; }
      .order-description .restaurant-order-header .restaurant-contact-wrapper:before {
        font-weight: 100;
        content: "Ph: "; }
  .order-description .table-order-description tbody tr div.combo span {
    display: inline-block; }
  .order-description .table-order-description tbody tr div.combo span:not(.combo-name) {
    display: block;
    font-size: 12px; }
  .order-description .table-order-description tfoot tr:first-child {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #77C16E;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr:last-child:not(.additional-notes-wrapper) {
    border-top: 2px solid rgba(128, 128, 128, 0.15);
    border-bottom: 2px solid rgba(128, 128, 128, 0.15);
    background-color: #349C27;
    color: #FFF;
    font-weight: 100; }
  .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] {
    padding: 20px;
    text-align: center; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span {
      display: inline-block;
      vertical-align: middle; }
    .order-description .table-order-description tfoot tr.additional-notes-wrapper td[colspan='4'] span i {
      font-size: 30px; }

@media (max-width: 767px) {
  .order-history {
    padding: 0; } }

/*# sourceMappingURL=packaging-panel.css.map */
