.sidebar-wrapper {
  font-family: "Myriad Pro";
  color: #CCC;
  width: 150px;
  background-color: #333333;
  position: fixed;
  z-index: 199;
  top: 50px;
  left: 0px;
  bottom: 0;
  transition: all 0.3s ease-in-out; }
  .sidebar-wrapper section.location-section {
    padding: 15px 15px; }
    .sidebar-wrapper section.location-section a {
      color: #CCC; }
    .sidebar-wrapper section.location-section a:hover, .sidebar-wrapper section.location-section a:focus, .sidebar-wrapper section.location-section a:active {
      color: #FFF;
      text-decoration: none;
      background-color: transparent; }
    .sidebar-wrapper section.location-section > i {
      margin-right: 5px; }
    .sidebar-wrapper section.location-section > ul {
      padding: 0;
      display: inline-block;
      list-style-type: none;
      margin: 0; }
    .sidebar-wrapper section.location-section .location-dropdown {
      color: #CCC;
      position: relative; }
      .sidebar-wrapper section.location-section .location-dropdown ul.dropdown-menu {
        margin-top: 5px;
        float: right;
        clear: right;
        position: absolute;
        left: -20px;
        background-color: #080808; }
        .sidebar-wrapper section.location-section .location-dropdown ul.dropdown-menu li a {
          padding: 10px 20px; }
  .sidebar-wrapper section .sidebar-search-wrapper {
    padding: 0 10px; }
    .sidebar-wrapper section .sidebar-search-wrapper > .form-group {
      margin: 0;
      padding: 5px 0; }
    .sidebar-wrapper section .sidebar-search-wrapper .input-search {
      display: inline-block;
      width: calc(100% - 30px);
      background: none;
      color: #FFF;
      padding: 0;
      margin: 0; }
  .sidebar-wrapper section > h5 {
    font-family: "Myriad Pro Semibold";
    padding: 10px 20px 12px 20px;
    margin: 10px 0 0 0;
    position: relative; }
    .sidebar-wrapper section > h5:after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2); }
  .sidebar-wrapper section > ul.sidebar-nav {
    padding: 0;
    font-size: 13px;
    list-style-type: none; }
    .sidebar-wrapper section > ul.sidebar-nav > li.active a {
      background-color: rgba(0, 0, 0, 0.5);
      color: #FFF; }
      .sidebar-wrapper section > ul.sidebar-nav > li.active a:hover:before {
        background-color: white; }
      .sidebar-wrapper section > ul.sidebar-nav > li.active a:before {
        left: 0;
        background-color: #c80a00; }
    .sidebar-wrapper section > ul.sidebar-nav > li > a {
      display: block;
      padding: 10px 15px;
      position: relative; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:hover {
        text-decoration: none;
        color: inherit; }
        .sidebar-wrapper section > ul.sidebar-nav > li > a:hover > span {
          transform: translateX(5px); }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > span {
        display: inline-block;
        transition: all 0.3s ease-in-out; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > i.fa, .sidebar-wrapper section > ul.sidebar-nav > li > a i.material-icons, .sidebar-wrapper section > ul.sidebar-nav > li > a i[class*='icon-'] {
        padding: 3px; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a > .label.pull-right {
        margin: 2px; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFF; }
        .sidebar-wrapper section > ul.sidebar-nav > li > a:hover:before {
          left: 0; }
      .sidebar-wrapper section > ul.sidebar-nav > li > a:before {
        content: "";
        position: absolute;
        left: -3px;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: white;
        transition: background-color 0.2s ease-in-out; }

@media (max-width: 435px) {
  body {
    padding-left: 0; }

  .sidebar-wrapper {
    left: -200px;
    width: 200px; } }
@media (min-width: 436px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-options-wrapper {
    display: none; } }
@media (min-width: 530px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 768px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    top: 50px;
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 600px; }

  .navbar-search-form {
    padding: 0; } }
@media (min-width: 880px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 992px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 820px; } }
@media (min-width: 1050px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
@media (min-width: 1200px) {
  body {
    padding-left: 150px; }

  .sidebar-wrapper {
    width: 150px; }

  .sidebar-wrapper + .container {
    width: 1020px; } }
@media (min-width: 1300px) {
  body {
    padding-left: 200px; }

  .sidebar-wrapper {
    width: 200px; } }
.sidebar-wrapper.slide-and-hide {
  left: -150px; }

.sidebar-wrapper.slider-open {
  left: 0px; }

/*# sourceMappingURL=sidebar.css.map */
