<!DOCTYPE html>
<html lang="en" ng-app="foodmashApp">
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yeild(:title) : "Foodmash" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body ng-controller="MainController">

    <md-toolbar layout="row" class="md-whiteframe-z3">
      <div layout-margin>
        <md-button class="menu md-icon-button" ng-click="toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/menu.svg"></md-icon>
        </md-button>
      </div>
      
      <md-icon class="title-logo" ng-click="routeToRoot()" md-svg-icon="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/logo_hybrid.svg"></md-icon>

      <div user-panel></div>

      <div layout-margin>
        <md-button class="menu md-icon-button" aria-label="Show User List">
          <md-icon md-svg-icon="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/cart.svg"></md-icon>
        </md-button>
      </div>

    </md-toolbar>

    <toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right'}"></toaster-container>

    
    <div id="primary" flex>
      <div id="main" ng-view flex></div>
    </div> <!-- 'primary' view -->


    <%= javascript_include_tag "application" %>
  </body>
</html>

