<!DOCTYPE html>
<html lang="en" ng-app="foodmashApp">
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yeild(:title) : "Foodmash" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body ng-class="{'sidebar-body': checkIfSideBarPresent()}" ng-class="{'bg': addBodyBackground()}" ng-controller="BodyController" ng-cloak ng-init="loadGlobal()">

  <!-- Loading page -->
  <div class="loader" ng-cloak style="display: none;">
    <div class="loader-wrapper">
      <img src="assets/logo_transparent.png" style="width:300px; height:auto;" />
      <div class="choose-delivery-location-wrapper">
          <i class="fa fa-map-marker"></i>
          <span>Deliver to</span>
          <span class="dropdown location-dropdown" ng-hide="loadingCities">
            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="selectedArea.name" ng-bind="selectedArea.name"></a>,
            <ul class="dropdown-menu" id="delivery-location-dropdown" placeholder="select area">
              <li ng-repeat="area in selectedCity.areas" ng-click="selectArea(area)"><a>{{area.name}}</a></li>
            </ul>
          </span>
          <span class="dropdown location-dropdown" ng-hide="loadingCities">
            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="selectedCity.name" ng-bind="selectedCity.name"></a>
            <ul class="dropdown-menu" id="delivery-location-dropdown">
              <li ng-repeat="city in cities" ng-click="selectCity(city)"><a>{{city.name}}</a></li>
            </ul>
          </span>
      </div>
      <a style="display: none;" class="btn btn-raised btn-info continue-button" id="choose-delivery-location-continue" onclick="$('.loader').fadeOut('slow');" ng-click="setLoadCombos()">Continue</a>
    </div>
  </div>
  <!-- Loading page -->

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header pull-left">
          <ul class="nav navbar-nav sidebar-options-wrapper pull-left">
            <li class="sidebar-options" onclick="sidebarToggle()"><a><i class="fa fa-bars"></i></a></li>
          </ul>
          <a class="navbar-brand" ng-click="routeToRoot()">
            <img src="assets/logo_transparent.png" />
            <span class="logo-white">Food</span><span class="logo-red">mash</span>
          </a>
        </div>

        <div class="navbar-header pull-right">
          <ul class="nav navbar-nav pull-left">
            <li user-panel class="dropdown pull-left"></li>
            <li class="pull-left">
              <a ng-click="routeToCart()">
                <!-- <span class="cart">Cart</span> -->
                <span class="label label-default label-cart">
                  <span class="rupee">&#8377; </span>
                  <span class="cart-total" ng-bind="cart.total">loading...</span>
                </span>
                <i class="fa fa-shopping-cart fa-append fa-prepend fa-shopping-cart-custom"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-header">
          <div class="navbar-search-wrapper">
            <form class="navbar-form navbar-left navbar-search-form">
              <div class="form-group is-empty">
                <i class="material-icons input-search-icon">search</i>
                <input type="text" class="form-control col-md-8 input-search" placeholder="Search" ng-model="search">
                <span class="material-input"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div class="content-layout">
      <div ng-view></div>
      <div class="footer-push"></div>
    </div>

    <footer>
      <span>&copy; Copyright 2015.</span>
      <span>Meals on Wheels Technology LLP.</span>
      <span>All rights reserved.</span>
      <div class="footer-links">
        <span ng-click="routeToTermsAndConditions()">&nbsp;Terms & Conditions&nbsp;</span>
        <span ng-click="routeToPrivacyPolicy()">&nbsp;Privacy Policy&nbsp;</span>
        <span ng-click="routeToRefundPolicy()">&nbsp;Refund Policy&nbsp;</span>
        <span ng-click="routeToAboutUs()">&nbsp;About Us&nbsp;</span>
      </div>
      <div class="footer-social-links">
        <span onclick="window.open('http://www.facebook.com/foodmashindia','_blank')"><i class="fa fa-facebook"></i></span>
        <span onclick="window.open('http://www.twitter.com/foodmashindia','_blank')"><i class="fa fa-twitter"></i></span>
        <span onclick="window.open('http://www.instagram.com/foodmashindia','_blank')"><i class="fa fa-instagram"></i></span>
      </div>
      <div class="btn btn-fab btn-fab-nano btn-dark btn-raised back-to-top"><i class="fa fa-angle-up"></i></div>
    </footer>

    <toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right'}"></toaster-container>

    <%= javascript_include_tag "application" %>
  </body>
</html>

