<!DOCTYPE html>
<html lang="en" ng-app="foodmashApp">
  <head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yeild(:title) : "Foodmash" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body ng-controller="MainController" layout="column" ng-cloak>

    <md-toolbar layout="row" style="z-index:50">
      <div class="md-toolbar-tools">
        <span>
            <md-icon class="title-logo" ng-click="routeToRoot()" md-svg-icon="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/logo_hybrid.svg"></md-icon>
            <md-icon aria-hidden="true" md-svg-src="img/icons/ic_chevron_right_24px.svg"></md-icon>
        </span>
        <span flex></span>
        <span user-panel></span>
        <md-button class="menu md-icon-button" hide-gt-md ng-click="toggleSidenav()" aria-label="Filter">
          <md-icon md-svg-icon="/assets/filter.svg"></md-icon>
        </md-button>
        <md-button class="menu md-icon-button" aria-label="Cart" ng-click="routeToCart()">
          <md-icon md-svg-icon="https://s3-ap-southeast-1.amazonaws.com/cshare1/images/cart.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right'}"></toaster-container>

    <div id="primary" flex layout="column">
      <div id="main" ng-view flex layout="column"></div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>

